In [1]:
import pandas as pd
from functools import reduce

In [2]:
global_allenergy = pd.read_csv('predictions_data_files/global_allenergy.csv', index_col=0)
india_allenergy = pd.read_csv('india_allenergy_adjust_recent.csv', index_col=0)
us_allenergy = pd.read_csv('us_allenergy_adjust_recent.csv', index_col=0)
eu_allenergy = pd.read_csv('eu_allenergy_adjust_recent.csv', index_col=0)
china_allenergy = pd.read_csv('china_allenergy_adjust_recent.csv', index_col=0)

In [3]:
global_allenergy = global_allenergy.rename(columns={"years":"year"})

In [5]:
data_frames = [global_allenergy, us_allenergy, eu_allenergy, india_allenergy, china_allenergy]
allenergy_combined = reduce(lambda  left,right: pd.merge(left,right,on=['year'],
                                            how='outer'), data_frames)
allenergy_combined.set_index('year', inplace=True)
allenergy_combined

          Global         US         EU      India       China
year
2020  568.705470  93.694689  66.682708  34.844686  152.765389
2030  643.046374  84.153539  60.078761  46.789905  205.703530
2040  717.387278  74.612390  53.474815  58.735124  258.641670
2050  791.728182  65.071240  46.870869  70.680343  311.579810

In [6]:
allenergy_combined.to_csv('../clean_data/selective_allenergy_predictions_adjust.csv')