In [16]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [38]:
# Import all files
in_data = pd.read_csv("in_temp.csv")
in_data.drop(columns={"Unnamed: 0"}, inplace=True)
ch_data = pd.read_csv("ch_temp.csv")
ch_data.drop(columns={"Unnamed: 0"}, inplace=True)
eu_data = pd.read_csv("eu_temp.csv")
eu_data.drop(columns={"Unnamed: 0"}, inplace=True)
us_data = pd.read_csv("us_temp.csv")
us_data.drop(columns={"Unnamed: 0"}, inplace=True)
global_data = pd.read_csv("nasa_all_temp_data_predictions.csv")
global_data.drop(columns={"Unnamed: 0"}, inplace=True)

In [52]:
# data = [in_data, ch_data, eu_data, us_data, global_data]
# all_data = pd.concat(data, axis=1, join='outer')
the_data = pd.merge(in_data, ch_data, on="Year")
data = pd.merge(the_data, eu_data, on="Year")
data1 = pd.merge(data, us_data, on="Year")
all_data = pd.merge(data1, global_data, on="Year")
all_data.tail()

,Year,India,China,European_Union,United_States_of_America,No_Smoothing
53,2018,0.712083,1.269083,1.955250,1.211833,0.850000
54,2019,0.674667,1.478417,2.020000,1.029750,0.980000
55,2030,0.826061,1.721973,2.109708,1.545445,1.083595
56,2040,0.978153,2.028027,2.489781,1.825237,1.269935
57,2050,1.130245,2.334082,2.869854,2.105029,1.456275

In [53]:
all_data.dropna(inplace=True)

In [54]:
# all_data_fixed = all_data.drop(columns={"Unnamed: 0", 'Year'})

In [57]:
all_data = all_data.rename(columns={"No_Smoothing": "Global"})

In [58]:
all_output = all_data.to_csv("top5_temp_data.csv")