In [1]:
# Import dependencies
import pandas as pd
from pyxlsb import open_workbook

from config import postgres_password
from sqlalchemy import create_engine

# Extract Data Into DataFrames For Nonrenewable Energy Types

### Data 1: bp.com Dataset on Oil Consumption (Exajoules)

In [2]:
# Import data file
oil_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

oil = pd.read_excel(oil_file, "Oil Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
oil_df = oil.rename(columns=oil.iloc[1])
display(oil_df.head(5))
display(oil_df.tail(5))

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.511997,...,4.370752,4.442217,4.445908,4.589797,4.499921,-0.0195818,0.00470662,0.0233118,NaN,NaN
4,Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,...,3.704738,3.731628,3.593102,3.484228,3.291532,-0.055305,-0.0143893,0.0170518,NaN,NaN

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
117,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Notes: Differences between these world consump...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"and unavoidable disparities in the definition,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and shares of total are calcula...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 2: bp.com Dataset on Natural Gas Consumption (Exajoules)

In [3]:
# Import data file
gas_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

gas = pd.read_excel(gas_file, "Gas Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
gas_df = gas.rename(columns=gas.iloc[1])
display(gas_df.head(5))
display(gas_df.tail(5))

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.780063,0.854010,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,...,3.951110,3.822709,3.935586,4.258057,4.331249,0.0171891,0.0284617,0.0306198,NaN,NaN
4,Mexico,0.290329,0.306408,0.263507,0.282932,0.350894,0.358830,0.372940,0.398807,0.441885,...,2.908185,2.989081,3.097207,3.152677,3.264027,0.0353191,0.0385444,0.023075,NaN,NaN

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
118,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Notes: The difference between these world cons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,"and liquefaction plants, together with unavoid...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 3: bp.com Dataset on Coal Consumption (Exajoules)

In [4]:
# Import data file
coal_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

coal = pd.read_excel(coal_file, "Coal Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
coal_df = coal.rename(columns=coal.iloc[1])
display(coal_df.head(5))
display(coal_df.tail(5))

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.647949,0.635221,0.629360,0.683746,0.660133,0.708742,0.673656,0.635682,0.654690,...,0.832618,0.782145,0.779341,0.650574,0.558633,-0.141324,-0.0617725,0.00353885,NaN,NaN
4,Mexico,0.028880,0.030805,0.037798,0.039623,0.040165,0.045045,0.056551,0.062502,0.067005,...,0.531542,0.520680,0.636310,0.567164,0.507516,-0.105168,0.0297222,0.00321504,NaN,NaN

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Notes: Differences between these consumption ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 4: bp.com Dataset on Nuclear Energy Consumption (Exajoules)

In [5]:
# Import data file
nuclear_energy_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

nuclear_energy = pd.read_excel(nuclear_energy_file, "Nuclear Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
nuclear_energy_df = nuclear_energy.rename(columns=nuclear_energy.iloc[1])
display(nuclear_energy_df.head(5))
display(nuclear_energy_df.tail(5))

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules (input-equivalent),1965.00000,1966.00000,1967.00000,1968.00000,1969.00000,1970.00000,1971.00000,1972.00000,1973.00000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.00128,0.00172,0.00153,0.00918,0.00529,0.01037,0.04267,0.07211,0.15254,...,0.920740,0.911875,0.905353,0.895016,0.895769,0.000841928,-0.0012352,0.0359396,NaN,NaN
4,Mexico,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.105435,0.095667,0.097946,0.122130,0.100298,-0.178762,0.0274374,0.00402409,NaN,NaN

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Notes: Annual changes and share of total are c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data 5: bp.com Dataset on Hydroeletric Consumption (Exajoules)

In [6]:
# Import data file
hydroelec_file = "raw_data/bp-stats-review-2020-all-data.xlsx"

hydroelec = pd.read_excel(hydroelec_file, "Hydro Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
hydroelec_df = hydroelec.rename(columns=hydroelec.iloc[1])
display(hydroelec_df.head(5))
display(hydroelec_df.tail(5))

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.00000,1966.00000,1967.00000,1968.00000,1969.00000,1970.00000,1971.00000,1972.00000,1973.00000,...,2015.000000,2016.000000,2017.000000,2018.00000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,1.18088,1.31000,1.33924,1.36200,1.50638,1.58137,1.62461,1.81639,1.94654,...,3.480689,3.489418,3.551286,3.45260,3.405087,-0.0137613,-0.00382008,0.0904684,NaN,NaN
4,Mexico,0.08863,0.10118,0.11017,0.12642,0.13406,0.15005,0.14572,0.15531,0.16371,...,0.281334,0.277911,0.286629,0.29066,0.212077,-0.270361,-0.0245682,0.00563459,NaN,NaN

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
117,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Notes: Annual changes and share of total are c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transform Data for Nonrenewable Energy Type

In [7]:
# Set up a for loop to iterate through the above df
# df_list = [oil_df, gas_df, coal_df, nuclear_energy_df, hydroelec_df]
for df in oil_df, gas_df, coal_df, nuclear_energy_df, hydroelec_df:
    # Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
    df ["2019_share"] = df.iloc [:,58]
    df ["2019_growth_rate_per_annum"] = df.iloc [:,56]
    df ["2019_year"] = df.iloc[:,55]

In [8]:
# Get a list of the column names and select the wanted columns 
# oil_ls = list(oil_df.columns)
# oil_ls

In [9]:
# gas_ls = list(gas_df.columns)
# gas_ls

In [10]:
# coal_ls = list(coal_df.columns)
# coal_ls

In [11]:
nuclear_energy_df_ls = list(nuclear_energy_df.columns)
nuclear_energy_df_ls

['Exajoules (input-equivalent)',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [12]:
# Rename nuclear energy df's first column
nuclear_energy_df = nuclear_energy_df.rename(columns={nuclear_energy_df.columns[0]: "Exajoules"})

In [13]:
ls = list(nuclear_energy_df.columns)
ls

['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2019,
 '2008-18',
 2019,
 nan,
 nan,
 '2019_share',
 '2019_growth_rate_per_annum',
 '2019_year']

In [14]:
# hydroelec_df_ls = list(hydroelec_df.columns)
# hydroelec_df_ls

In [15]:
# Select the wanted columns
columns=['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 '2019_year'
]

In [16]:
# Select wanted columns
oil_df = oil_df[columns]
gas_df = gas_df[columns]
coal_df = coal_df[columns]
nuclear_energy_df = nuclear_energy_df[columns]
hydroelec_df = hydroelec_df[columns]

# Rename the first and 2019_year column
oil_df = oil_df.rename(columns={oil_df.columns[0]: "country", oil_df.columns[55]: 2019.0})
gas_df = gas_df.rename(columns={gas_df.columns[0]: "country", gas_df.columns[55]: 2019.0})
coal_df = coal_df.rename(columns={coal_df.columns[0]: "country", coal_df.columns[55]: 2019.0})
nuclear_energy_df = nuclear_energy_df.rename(columns={nuclear_energy_df.columns[0]: "country", nuclear_energy_df.columns[55]: 2019.0})
hydroelec_df = hydroelec_df.rename(columns={hydroelec_df.columns[0]: "country", hydroelec_df.columns[55]: 2019.0})

# Dropping nan
oil_df = oil_df.dropna(how="all")
oil_df = oil_df.reset_index(drop=True)

gas_df = gas_df.dropna(how="all")
gas_df = gas_df.reset_index(drop=True)

coal_df = coal_df.dropna(how="all")
coal_df = coal_df.reset_index(drop=True)

nuclear_energy_df = nuclear_energy_df.dropna(how="all")
nuclear_energy_df = nuclear_energy_df.reset_index(drop=True)

hydroelec_df = hydroelec_df.dropna(how="all")
hydroelec_df = hydroelec_df.reset_index(drop=True)

In [17]:
# Check to see which end rows to remove
display(oil_df.head(2))
display(oil_df.tail(10))

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.00000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.511997,...,4.431947,4.54219,4.407879,4.410037,4.481114,4.370752,4.442217,4.445908,4.589797,4.499921

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Non-OECD,16.478546,17.764762,18.961442,20.353862,21.780542,23.877107,25.809990,28.060600,30.614234,...,82.893079,85.704919,88.800089,91.268214,93.326287,95.336745,97.842505,99.435945,101.127237,103.397520
103,European Union #,17.027869,18.668342,20.236784,22.210185,24.765834,27.431698,28.677236,30.716474,32.860374,...,28.135852,27.305759,26.265683,25.642984,25.165531,25.574102,26.132776,26.550706,26.494891,26.393279
104,* Inland demand plus international aviation an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Notes: Differences between these world consump...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"and unavoidable disparities in the definition,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Annual changes and shares of total are calcula...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Remove unneeded rows
oil_cleaned = oil_df.drop([0, 104, 105, 106, 107, 108, 109, 110, 111])
oil_cleaned = oil_cleaned.reset_index(drop=True)
oil_cleaned.set_index("country", inplace=True)

In [19]:
# Add suffix to all years
oil_cleaned_suff = oil_cleaned.add_suffix('_oil')
oil_cleaned_suff

,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,1974.0_oil,...,2010.0_oil,2011.0_oil,2012.0_oil,2013.0_oil,2014.0_oil,2015.0_oil,2016.0_oil,2017.0_oil,2018.0_oil,2019.0_oil
country,,,,,,,,,,,,,,,,,,,,,
Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.511997,3.571398,...,4.431947,4.542190,4.407879,4.410037,4.481114,4.370752,4.442217,4.445908,4.589797,4.499921
Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,1.286108,...,3.908112,3.973258,4.037398,3.925493,3.747803,3.704738,3.731628,3.593102,3.484228,3.291532
US,23.691820,24.875976,25.837584,27.630599,29.135607,30.300761,31.341842,33.863257,35.746102,34.316181,...,35.610845,34.889781,34.121720,34.694430,34.943551,35.660035,35.917927,36.285099,37.107278,36.988039
Total North America,26.648378,27.987299,29.161761,31.185877,32.849741,34.268951,35.446876,38.254702,40.396583,39.173688,...,43.950903,43.405229,42.566997,43.029960,43.172467,43.735526,44.091772,44.324108,45.181303,44.779492
Argentina,0.936501,0.966833,0.990672,1.011627,1.051134,0.943775,1.007910,1.009286,1.012744,1.016294,...,1.174657,1.176312,1.223031,1.311082,1.285461,1.322245,1.293744,1.259621,1.203522,1.185580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,6.828704,7.869195,9.171315,10.487892,12.184036,14.166869,15.753188,16.964052,19.299425,19.174432,...,55.972501,57.749595,60.176642,61.171420,62.126653,64.501914,66.884387,68.824357,70.267309,71.539343
Total World,65.191064,70.187240,75.206029,81.631612,88.476713,96.148951,101.537356,109.360591,117.886008,116.180700,...,173.113552,174.779772,176.964050,178.878495,180.049011,183.210968,186.912413,189.242920,191.451896,193.031574
of which: OECD,48.712518,52.422477,56.244588,61.277751,66.696171,72.271844,75.727366,81.299991,87.271775,83.628110,...,90.220473,89.074853,88.163962,87.610281,86.722723,87.874223,89.069908,89.806975,90.324659,89.634054
Non-OECD,16.478546,17.764762,18.961442,20.353862,21.780542,23.877107,25.809990,28.060600,30.614234,32.552590,...,82.893079,85.704919,88.800089,91.268214,93.326287,95.336745,97.842505,99.435945,101.127237,103.397520
European Union #,17.027869,18.668342,20.236784,22.210185,24.765834,27.431698,28.677236,30.716474,32.860374,30.866124,...,28.135852,27.305759,26.265683,25.642984,25.165531,25.574102,26.132776,26.550706,26.494891,26.393279

In [20]:
# Check to see which end rows to remove
display(gas_df.head(2))
display(gas_df.tail(10))

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules,1965.000000,1966.00000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,0.780063,0.85401,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,...,3.178112,3.511123,3.499557,3.753498,3.945339,3.95111,3.822709,3.935586,4.258057,4.331249

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
103,European Union #,1.352469,1.530108,1.834076,2.377027,3.066988,3.870116,4.765598,5.80102,6.594438,...,18.766898,16.95481,16.525914,16.229506,14.451173,15.074592,16.157624,16.697934,16.459919,16.904305
104,* Excludes natural gas converted to liquid fu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Notes: The difference between these world cons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,"and liquefaction plants, together with unavoid...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Remove unneeded rows
gas_cleaned = gas_df.drop([0, 104, 105, 106, 107, 108, 109, 110, 111, 112])
gas_cleaned = gas_cleaned.reset_index(drop=True)
gas_cleaned.set_index("country", inplace=True)

In [22]:
# Add suffix to all years
gas_cleaned_suff = gas_cleaned.add_suffix('_gas')
gas_cleaned_suff

,1965.0_gas,1966.0_gas,1967.0_gas,1968.0_gas,1969.0_gas,1970.0_gas,1971.0_gas,1972.0_gas,1973.0_gas,1974.0_gas,...,2010.0_gas,2011.0_gas,2012.0_gas,2013.0_gas,2014.0_gas,2015.0_gas,2016.0_gas,2017.0_gas,2018.0_gas,2019.0_gas
country,,,,,,,,,,,,,,,,,,,,,
Canada,0.780063,0.854010,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,1.609127,...,3.178112,3.511123,3.499557,3.753498,3.945339,3.951110,3.822709,3.935586,4.258057,4.331249
Mexico,0.290329,0.306408,0.263507,0.282932,0.350894,0.358830,0.372940,0.398807,0.441885,0.464929,...,2.377603,2.549106,2.651536,2.800622,2.838544,2.908185,2.989081,3.097207,3.152677,3.264027
US,14.973142,16.137922,17.039478,18.240534,19.634785,20.695170,21.335494,21.553072,21.376654,20.636090,...,23.334964,23.695589,24.772420,25.452822,26.001376,26.768862,26.967562,26.639711,29.517910,30.479222
Total North America,16.043534,17.298340,18.209888,19.533340,21.114266,22.300819,23.039229,23.448741,23.410385,22.710146,...,28.890680,29.755818,30.923513,32.006942,32.785260,33.628157,33.779352,33.672503,36.928645,38.074498
Argentina,0.148442,0.160766,0.168118,0.187198,0.186498,0.210760,0.227530,0.255328,0.290548,0.307528,...,1.515147,1.578232,1.643912,1.656997,1.661579,1.679492,1.735560,1.738801,1.753353,1.709661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.202435,0.224601,0.257009,0.280145,0.369362,0.512369,0.610383,0.707095,0.872681,1.088312,...,20.795908,22.435249,23.917946,24.788683,25.516129,25.927454,26.551664,27.940501,29.917208,31.317272
Total World,22.693676,24.727660,26.546542,28.959593,31.800305,34.613250,37.051894,39.100893,40.956192,41.962491,...,113.784267,116.535487,119.592019,121.558003,122.379306,125.208334,128.124027,131.708206,138.659832,141.452770
of which: OECD,16.978951,18.374413,19.527993,21.359782,23.555068,25.612598,27.238998,28.716801,29.510084,29.749326,...,55.545845,55.363646,56.660890,57.848117,56.949760,58.142325,59.367835,60.102651,63.235195,64.838814
Non-OECD,5.714725,6.353248,7.018548,7.599811,8.245237,9.000653,9.812895,10.384091,11.446107,12.213165,...,58.238422,61.171841,62.931129,63.709886,65.429546,67.066010,68.756192,71.605555,75.424637,76.613956
European Union #,1.352469,1.530108,1.834076,2.377027,3.066988,3.870116,4.765598,5.801020,6.594438,7.465646,...,18.766898,16.954810,16.525914,16.229506,14.451173,15.074592,16.157624,16.697934,16.459919,16.904305

In [23]:
# Check to see which end rows to remove
display(coal_df.head(2))
display(coal_df.tail(10))

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules,1965.000000,1966.000000,1967.00000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,0.647949,0.635221,0.62936,0.683746,0.660133,0.708742,0.673656,0.635682,0.65469,...,1.036885,0.928738,0.882526,0.869501,0.821823,0.832618,0.782145,0.779341,0.650574,0.558633

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
103,European Union #,21.322806,20.436574,19.825952,20.114722,20.379518,20.003606,19.09046,18.414437,18.691615,...,11.738063,12.067576,12.335541,12.047426,11.247694,10.942861,10.036877,9.820434,9.366156,7.694454
104,"* Commercial solid fuels only, i.e. bituminou...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Excludes coal converted to liquid or gaseous f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Notes: Differences between these consumption ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Remove unneeded rows
coal_cleaned = coal_df.drop([0, 104, 105, 106, 107, 108, 109, 110, 111, 112])
coal_cleaned = coal_cleaned.reset_index(drop=True)
coal_cleaned.set_index("country", inplace=True)

In [25]:
# Add suffix to all years
coal_cleaned_suff = coal_cleaned.add_suffix('_coal')
coal_cleaned_suff

,1965.0_coal,1966.0_coal,1967.0_coal,1968.0_coal,1969.0_coal,1970.0_coal,1971.0_coal,1972.0_coal,1973.0_coal,1974.0_coal,...,2010.0_coal,2011.0_coal,2012.0_coal,2013.0_coal,2014.0_coal,2015.0_coal,2016.0_coal,2017.0_coal,2018.0_coal,2019.0_coal
country,,,,,,,,,,,,,,,,,,,,,
Canada,0.647949,0.635221,0.629360,0.683746,0.660133,0.708742,0.673656,0.635682,0.654690,0.665199,...,1.036885,0.928738,0.882526,0.869501,0.821823,0.832618,0.782145,0.779341,0.650574,0.558633
Mexico,0.028880,0.030805,0.037798,0.039623,0.040165,0.045045,0.056551,0.062502,0.067005,0.074025,...,0.533228,0.616777,0.537358,0.533616,0.532580,0.531542,0.520680,0.636310,0.567164,0.507516
US,11.607279,12.171046,11.941188,12.359075,12.410055,12.292774,11.625123,12.104731,13.001364,12.692041,...,20.881950,19.703057,17.418257,18.080177,18.039082,15.584680,14.258668,13.869334,13.282051,11.340643
Total North America,12.284108,12.837073,12.608346,13.082445,13.110353,13.046560,12.355330,12.802915,13.723059,13.431265,...,22.452062,21.248572,18.838141,19.483294,19.393484,16.948840,15.561493,15.284985,14.499789,12.406792
Argentina,0.030438,0.025099,0.028225,0.027429,0.032840,0.042201,0.036999,0.031145,0.034187,0.042573,...,0.048499,0.052627,0.049209,0.053781,0.057210,0.056931,0.043879,0.045091,0.049353,0.022852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,10.010633,10.553444,10.275475,10.428239,11.700676,13.072099,13.992669,14.531728,14.883035,15.245051,...,102.306666,109.833565,112.198433,115.179828,115.955221,115.267870,114.807685,116.280924,119.615498,122.218429
Total World,58.104642,58.766738,57.818915,58.684128,60.475449,61.410989,61.077453,61.755597,63.604258,63.655384,...,151.189921,158.464953,159.067113,161.976352,161.835837,157.838896,155.504177,156.094106,158.793935,157.857047
of which: OECD,36.504352,36.342287,35.652930,36.458616,36.928626,36.382333,34.524477,34.268830,35.668569,35.367556,...,45.793032,44.953410,43.084210,43.429577,42.715521,40.023530,37.729493,37.469687,36.187545,32.102204
Non-OECD,21.600290,22.424451,22.165985,22.225512,23.546823,25.028656,26.552976,27.486767,27.935690,28.287828,...,105.396889,113.511543,115.982904,118.546775,119.120316,117.815365,117.774684,118.624418,122.606390,125.754843
European Union #,21.322806,20.436574,19.825952,20.114722,20.379518,20.003606,19.090460,18.414437,18.691615,18.482578,...,11.738063,12.067576,12.335541,12.047426,11.247694,10.942861,10.036877,9.820434,9.366156,7.694454

In [26]:
# Check to see which end rows to remove
display(nuclear_energy_df.head(2))
display(nuclear_energy_df.tail(10))

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules (input-equivalent),1965.00000,1966.00000,1967.00000,1968.00000,1969.00000,1970.00000,1971.00000,1972.00000,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000
1,Canada,0.00128,0.00172,0.00153,0.00918,0.00529,0.01037,0.04267,0.07211,0.15254,...,0.845048,0.867045,0.873514,0.946761,0.976035,0.92074,0.911875,0.905353,0.895016,0.895769

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Non-OECD,0.018606,0.020759,0.022919,0.031514,0.044085,0.057416,0.064501,0.110331,0.166895,...,4.375835,4.611943,4.717167,4.769395,5.062993,5.473782,5.809333,6.108913,6.537032,7.158006
103,European Union #,0.196770,0.257910,0.298740,0.338120,0.405680,0.427970,0.494760,0.636730,0.680680,...,8.601458,8.461764,8.184139,8.084082,8.030713,7.808306,7.604010,7.470193,7.399456,7.331497
104,*Based on gross generation and not accounting ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Details on thermal efficiency assumptions are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.05.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Notes: Annual changes and share of total are c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Remove unneeded rows
nuclear_energy_cleaned = nuclear_energy_df.drop([0, 104, 105, 106, 107, 108, 109, 110, 111])
nuclear_energy_cleaned = nuclear_energy_cleaned.reset_index(drop=True)
nuclear_energy_cleaned.set_index("country", inplace=True)

In [28]:
# Add suffix to all years
nuclear_energy_cleaned_suff = nuclear_energy_cleaned.add_suffix('_nuclear')
nuclear_energy_cleaned_suff

,1965.0_nuclear,1966.0_nuclear,1967.0_nuclear,1968.0_nuclear,1969.0_nuclear,1970.0_nuclear,1971.0_nuclear,1972.0_nuclear,1973.0_nuclear,1974.0_nuclear,...,2010.0_nuclear,2011.0_nuclear,2012.0_nuclear,2013.0_nuclear,2014.0_nuclear,2015.0_nuclear,2016.0_nuclear,2017.0_nuclear,2018.0_nuclear,2019.0_nuclear
country,,,,,,,,,,,,,,,,,,,,,
Canada,0.001280,0.001720,0.001530,0.009180,0.005290,0.010370,0.042670,0.072110,0.152540,0.146960,...,0.845048,0.867045,0.873514,0.946761,0.976035,0.920740,0.911875,0.905353,0.895016,0.895769
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.055186,0.094125,0.081318,0.108758,0.088659,0.105435,0.095667,0.097946,0.122130,0.100298
US,0.038492,0.058104,0.080581,0.131878,0.146609,0.229521,0.401100,0.569380,0.878731,1.199745,...,7.973274,7.760030,7.509262,7.655011,7.687765,7.642119,7.678055,7.625839,7.601350,7.595138
Total North America,0.039772,0.059824,0.082111,0.141058,0.151899,0.239891,0.443770,0.641490,1.031271,1.346705,...,8.873508,8.721200,8.464094,8.710529,8.752460,8.668293,8.685598,8.629137,8.618495,8.591205
Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010360,...,0.067677,0.059707,0.059364,0.057209,0.050517,0.064105,0.075006,0.054792,0.061486,0.075254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.000250,0.005840,0.006290,0.010440,0.018068,0.058891,0.090309,0.106069,0.120404,0.220280,...,5.471819,4.507266,3.179745,3.197325,3.399475,3.823798,4.235240,4.440028,4.958108,5.770565
Total World,0.255397,0.344333,0.410060,0.521132,0.617834,0.788747,1.097042,1.521751,2.039016,2.666001,...,25.986589,24.747569,22.911107,22.981350,23.281087,23.457847,23.673403,23.746987,24.161240,24.924262
of which: OECD,0.236792,0.323574,0.387141,0.489618,0.573749,0.731331,1.032540,1.411420,1.872121,2.408205,...,21.610754,20.135626,18.193939,18.211956,18.218094,17.984064,17.864070,17.638074,17.624209,17.766256
Non-OECD,0.018606,0.020759,0.022919,0.031514,0.044085,0.057416,0.064501,0.110331,0.166895,0.257796,...,4.375835,4.611943,4.717167,4.769395,5.062993,5.473782,5.809333,6.108913,6.537032,7.158006
European Union #,0.196770,0.257910,0.298740,0.338120,0.405680,0.427970,0.494760,0.636730,0.680680,0.803120,...,8.601458,8.461764,8.184139,8.084082,8.030713,7.808306,7.604010,7.470193,7.399456,7.331497

In [29]:
# Check to see which end rows to remove
display(hydroelec_df.head(2))
display(hydroelec_df.tail(10))

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Exajoules,1965.00000,1966.00,1967.00000,1968.000,1969.00000,1970.00000,1971.00000,1972.00000,1973.00000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.0000,2019.000000
1,Canada,1.18088,1.31,1.33924,1.362,1.50638,1.58137,1.62461,1.81639,1.94654,...,3.298275,3.505227,3.526113,3.611066,3.504354,3.480689,3.489418,3.551286,3.4526,3.405087

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Non-OECD,2.090479,2.289389,2.312189,2.636061,2.889688,3.184844,3.351733,3.543992,3.712407,...,19.504875,19.712664,20.916603,22.113882,22.913754,22.833995,23.679152,24.095094,24.590841,25.335128
103,European Union #,2.164180,2.349898,2.270776,2.303029,2.257139,2.392587,2.366008,2.482094,2.473701,...,3.533674,2.918466,3.117025,3.422369,3.433874,3.094990,3.154227,2.678572,3.103893,2.923008
104,* Based on gross primary hydroelectric genera...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,basis of thermal equivalence assuming 38% ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,^ Less than 0.05.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,â™¦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Notes: Annual changes and share of total are c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Remove unneeded rows
hydroelec_cleaned = hydroelec_df.drop([0, 104, 105, 106, 107, 108, 109, 110, 111])
hydroelec_cleaned = hydroelec_cleaned.reset_index(drop=True)
hydroelec_cleaned.set_index("country", inplace=True)

In [31]:
# Add suffix to all years
hydroelec_cleaned_suff = hydroelec_cleaned.add_suffix('_hydroelec')
hydroelec_cleaned_suff

,1965.0_hydroelec,1966.0_hydroelec,1967.0_hydroelec,1968.0_hydroelec,1969.0_hydroelec,1970.0_hydroelec,1971.0_hydroelec,1972.0_hydroelec,1973.0_hydroelec,1974.0_hydroelec,...,2010.0_hydroelec,2011.0_hydroelec,2012.0_hydroelec,2013.0_hydroelec,2014.0_hydroelec,2015.0_hydroelec,2016.0_hydroelec,2017.0_hydroelec,2018.0_hydroelec,2019.0_hydroelec
country,,,,,,,,,,,,,,,,,,,,,
Canada,1.180880,1.310000,1.339240,1.362000,1.506380,1.581370,1.624610,1.816390,1.946540,2.106670,...,3.298275,3.505227,3.526113,3.611066,3.504354,3.480689,3.489418,3.551286,3.452600,3.405087
Mexico,0.088630,0.101180,0.110170,0.126420,0.134060,0.150050,0.145720,0.155310,0.163710,0.167080,...,0.348784,0.338376,0.295899,0.258269,0.356323,0.281334,0.277911,0.286629,0.290660,0.212077
US,1.989741,1.999369,2.272208,2.281547,2.560285,2.534924,2.722540,2.787160,2.782127,3.072847,...,2.414910,2.948938,2.541006,2.456755,2.343104,2.244484,2.387920,2.671260,2.590394,2.417207
Total North America,3.259251,3.410549,3.721618,3.769967,4.200725,4.266344,4.492870,4.758860,4.892377,5.346597,...,6.061968,6.792542,6.363018,6.326090,6.203781,6.006506,6.155248,6.509175,6.333654,6.034371
Argentina,0.012250,0.012410,0.012710,0.014980,0.013440,0.015550,0.015440,0.015040,0.029940,0.050280,...,0.380557,0.369822,0.341941,0.375127,0.374383,0.380414,0.346327,0.373887,0.372639,0.330427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,1.560896,1.623118,1.528667,1.682491,1.741638,1.807100,1.992821,2.051160,1.940116,2.179046,...,10.303441,10.428075,11.702114,12.770600,13.942865,14.258468,14.693066,15.047740,15.307667,15.900192
Total World,9.231979,9.838170,10.057427,10.592890,11.217432,11.746476,12.270650,12.846304,13.030095,14.312650,...,32.250472,32.662401,33.842892,35.153503,35.677200,35.377786,36.330239,36.592826,37.323097,37.638426
of which: OECD,7.141501,7.548781,7.745238,7.956829,8.327745,8.561632,8.918917,9.302312,9.317688,10.212661,...,12.745597,12.949737,12.926290,13.039621,12.763446,12.543792,12.651087,12.497732,12.732256,12.303298
Non-OECD,2.090479,2.289389,2.312189,2.636061,2.889688,3.184844,3.351733,3.543992,3.712407,4.099988,...,19.504875,19.712664,20.916603,22.113882,22.913754,22.833995,23.679152,24.095094,24.590841,25.335128
European Union #,2.164180,2.349898,2.270776,2.303029,2.257139,2.392587,2.366008,2.482094,2.473701,2.670884,...,3.533674,2.918466,3.117025,3.422369,3.433874,3.094990,3.154227,2.678572,3.103893,2.923008

### Combine DFs

In [32]:
# oil_cleaned gas_cleaned coal_cleaned nuclear_energy_cleaned hydroelec_cleaned
data_combine1 = pd.concat([oil_cleaned_suff, gas_cleaned_suff], axis=1)
data_combine2 = pd.concat([data_combine1, coal_cleaned_suff], axis=1)
data_combine3 = pd.concat([data_combine2, nuclear_energy_cleaned_suff], axis=1)
data_combine_all = pd.concat([data_combine3, hydroelec_cleaned_suff], axis=1) 
data_combine_all

,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,1974.0_oil,...,2010.0_hydroelec,2011.0_hydroelec,2012.0_hydroelec,2013.0_hydroelec,2014.0_hydroelec,2015.0_hydroelec,2016.0_hydroelec,2017.0_hydroelec,2018.0_hydroelec,2019.0_hydroelec
country,,,,,,,,,,,,,,,,,,,,,
Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.511997,3.571398,...,3.298275,3.505227,3.526113,3.611066,3.504354,3.480689,3.489418,3.551286,3.452600,3.405087
Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,1.286108,...,0.348784,0.338376,0.295899,0.258269,0.356323,0.281334,0.277911,0.286629,0.290660,0.212077
US,23.691820,24.875976,25.837584,27.630599,29.135607,30.300761,31.341842,33.863257,35.746102,34.316181,...,2.414910,2.948938,2.541006,2.456755,2.343104,2.244484,2.387920,2.671260,2.590394,2.417207
Total North America,26.648378,27.987299,29.161761,31.185877,32.849741,34.268951,35.446876,38.254702,40.396583,39.173688,...,6.061968,6.792542,6.363018,6.326090,6.203781,6.006506,6.155248,6.509175,6.333654,6.034371
Argentina,0.936501,0.966833,0.990672,1.011627,1.051134,0.943775,1.007910,1.009286,1.012744,1.016294,...,0.380557,0.369822,0.341941,0.375127,0.374383,0.380414,0.346327,0.373887,0.372639,0.330427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,6.828704,7.869195,9.171315,10.487892,12.184036,14.166869,15.753188,16.964052,19.299425,19.174432,...,10.303441,10.428075,11.702114,12.770600,13.942865,14.258468,14.693066,15.047740,15.307667,15.900192
Total World,65.191064,70.187240,75.206029,81.631612,88.476713,96.148951,101.537356,109.360591,117.886008,116.180700,...,32.250472,32.662401,33.842892,35.153503,35.677200,35.377786,36.330239,36.592826,37.323097,37.638426
of which: OECD,48.712518,52.422477,56.244588,61.277751,66.696171,72.271844,75.727366,81.299991,87.271775,83.628110,...,12.745597,12.949737,12.926290,13.039621,12.763446,12.543792,12.651087,12.497732,12.732256,12.303298
Non-OECD,16.478546,17.764762,18.961442,20.353862,21.780542,23.877107,25.809990,28.060600,30.614234,32.552590,...,19.504875,19.712664,20.916603,22.113882,22.913754,22.833995,23.679152,24.095094,24.590841,25.335128
European Union #,17.027869,18.668342,20.236784,22.210185,24.765834,27.431698,28.677236,30.716474,32.860374,30.866124,...,3.533674,2.918466,3.117025,3.422369,3.433874,3.094990,3.154227,2.678572,3.103893,2.923008

## Import the Cleaned Nonrenewable and Emission Data

In [33]:
# data_combine_all.filter(regex='^1965.0',axis=1)

In [34]:
# # Import data file
# nonrenewable_file = "clean_data/nonrenewable_energy.csv"

# nonrenewable_df = pd.read_csv(nonrenewable_file)
# nonrenewable_df

In [35]:
# Import data file
emission_file = "clean_data/emissions.csv"

emission_df = pd.read_csv(emission_file)
emission_df

,country,1965.0_co2_emission,1966.0_co2_emission,1967.0_co2_emission,1968.0_co2_emission,1969.0_co2_emission,1970.0_co2_emission,1971.0_co2_emission,1972.0_co2_emission,1973.0_co2_emission,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,260.332557,271.698929,285.537480,308.284201,320.447741,344.908460,351.586651,367.977437,386.717056,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,62.134189,65.056561,66.648353,72.171786,79.107628,84.173086,89.462540,99.668266,107.674113,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,3480.084706,3675.466374,3772.622833,3994.225972,4170.119294,4298.208775,4340.724935,4564.699478,4764.400900,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,3802.551452,4012.221864,4124.808666,4374.681960,4569.674663,4727.290321,4781.774126,5032.345181,5258.792068,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,77.341494,79.579541,81.846331,84.239573,86.902914,80.535084,85.254058,86.741981,89.802171,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,1425.188935,1548.323035,1614.735985,1720.378208,1956.926885,2233.660114,2444.217715,2581.733238,2784.660603,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
99,Total World,11207.741166,11725.313885,12084.725642,12743.051213,13530.939823,14312.868023,14788.378466,15495.494674,16345.050954,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
100,of which: OECD,7703.189788,8015.802519,8280.964807,8804.452103,9334.098624,9790.467330,9939.548583,10374.748717,10951.592467,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
101,Non-OECD,3504.551378,3709.511366,3803.760835,3938.599110,4196.841199,4522.400693,4848.829883,5120.745957,5393.458487,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
102,European Union #,3304.482212,3344.123377,3412.149716,3613.583730,3855.707414,4056.978118,4106.837161,4244.459029,4459.940511,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

In [36]:
# Import data file
renewable_file = "clean_data/renewable_energy.csv"

renewable_df = pd.read_csv(renewable_file)
renewable_df

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.216234,0.250820,0.278884,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001610,...,0.086040,0.088399,0.102050,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292
2,US,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.199897,...,2.756646,3.090966,3.325100,3.756286,4.039290,4.248825,4.807667,5.239283,5.503936,5.828555
3,Total North America,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.201507,...,3.058920,3.430186,3.706035,4.158765,4.475862,4.843633,5.466434,5.915439,6.223889,6.697246
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000475,0.000499,0.000644,0.000490,...,0.040601,0.052376,0.065415,0.070381,0.077710,0.082616,0.081679,0.094728,0.100514,0.138995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,0.016440,0.016430,0.014240,0.015770,0.016080,0.017767,0.017546,0.017856,0.018350,...,1.953708,2.379845,2.840311,3.491201,4.214132,4.845924,5.957339,7.532352,9.285780,10.814118
99,Total World,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.322760,0.347499,0.368311,...,9.699337,11.120646,12.604510,14.360242,16.027352,18.081068,20.057078,23.036529,25.825912,28.976463
100,of which: OECD,0.179852,0.198060,0.199866,0.221200,0.232580,0.251310,0.256369,0.276382,0.297001,...,7.119965,8.157404,9.131990,10.116568,10.936214,12.182050,12.960876,14.323605,15.272031,16.770755
101,Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,...,2.579372,2.963241,3.472520,4.243674,5.091138,5.899018,7.096202,8.712925,10.553881,12.205708
102,European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,...,3.376245,3.980388,4.615612,5.023238,5.383986,6.023025,6.050515,6.692393,6.969224,7.541291

In [37]:
# Import data file
renewable_per_file = "clean_data/renewable_percent.csv"

renewable_per_df = pd.read_csv(renewable_per_file)
renewable_per_df

,country,1965.0_renewable_per,1966.0_renewable_per,1967.0_renewable_per,1968.0_renewable_per,1969.0_renewable_per,1970.0_renewable_per,1971.0_renewable_per,1972.0_renewable_per,1973.0_renewable_per,...,2010.0_renewable_per,2011.0_renewable_per,2012.0_renewable_per,2013.0_renewable_per,2014.0_renewable_per,2015.0_renewable_per,2016.0_renewable_per,2017.0_renewable_per,2018.0_renewable_per,2019.0_renewable_per
0,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.662508,1.843570,2.070646,2.095749,2.161491,3.128147,3.503808,3.487075,3.508760,3.682263
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088818,...,1.177181,1.154025,1.324372,1.441544,1.731448,2.042931,2.189374,2.332349,2.763362,4.472264
2,US,0.254268,0.253905,0.245562,0.255695,0.253351,0.245198,0.245361,0.262762,0.270186,...,2.965010,3.356522,3.707417,4.078687,4.340794,4.610820,5.224715,5.674487,5.757079,6.158086
3,Total North America,0.228259,0.227785,0.220159,0.229062,0.226669,0.218563,0.218377,0.233140,0.240878,...,2.700126,3.026095,3.342932,3.657163,3.899402,4.255111,4.806083,5.173762,5.284076,5.744586
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.039201,0.038703,0.049071,0.035852,...,1.258106,1.592416,1.933710,1.996855,2.215955,2.303979,2.283958,2.655742,2.838672,4.013971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,0.088295,0.080965,0.067002,0.068850,0.061775,0.059953,0.054060,0.051940,0.049416,...,0.992717,1.147834,1.327154,1.582600,1.871662,2.119591,2.555379,3.137618,3.723971,4.198681
99,Total World,0.137567,0.142032,0.138328,0.142554,0.139764,0.145686,0.151277,0.154490,0.154828,...,1.916774,2.145555,2.400943,2.684619,2.972157,3.328775,3.642759,4.110571,4.481885,4.962582
100,of which: OECD,0.163869,0.171913,0.166892,0.173132,0.170621,0.174750,0.173576,0.177994,0.181167,...,3.055311,3.536938,4.002428,4.393615,4.790161,5.325487,5.643917,6.178262,6.488003,7.184372
101,Non-OECD,0.074726,0.071616,0.070614,0.068677,0.065376,0.077386,0.101115,0.102097,0.096434,...,0.944865,1.030062,1.169906,1.392959,1.637317,1.876129,2.210944,2.651668,3.096433,3.482716
102,European Union #,0.069109,0.091931,0.096968,0.101664,0.102950,0.128060,0.127250,0.119166,0.121257,...,4.553129,5.552317,6.496844,7.130257,7.951189,8.790443,8.751609,9.572838,9.983641,10.960181

## More Combination and Transformation

### Combine Nonrenewable Energy Types with Renewable Energy and Emissions

In [38]:
# Reset index
emission_df.set_index("country", inplace=True)

In [39]:
# Concat
energy_emissions = pd.concat([data_combine_all, emission_df], axis=1)
energy_emissions

,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,1974.0_oil,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.511997,3.571398,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,1.286108,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
US,23.691820,24.875976,25.837584,27.630599,29.135607,30.300761,31.341842,33.863257,35.746102,34.316181,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
Total North America,26.648378,27.987299,29.161761,31.185877,32.849741,34.268951,35.446876,38.254702,40.396583,39.173688,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
Argentina,0.936501,0.966833,0.990672,1.011627,1.051134,0.943775,1.007910,1.009286,1.012744,1.016294,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,6.828704,7.869195,9.171315,10.487892,12.184036,14.166869,15.753188,16.964052,19.299425,19.174432,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
Total World,65.191064,70.187240,75.206029,81.631612,88.476713,96.148951,101.537356,109.360591,117.886008,116.180700,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
of which: OECD,48.712518,52.422477,56.244588,61.277751,66.696171,72.271844,75.727366,81.299991,87.271775,83.628110,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
Non-OECD,16.478546,17.764762,18.961442,20.353862,21.780542,23.877107,25.809990,28.060600,30.614234,32.552590,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
European Union #,17.027869,18.668342,20.236784,22.210185,24.765834,27.431698,28.677236,30.716474,32.860374,30.866124,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

In [40]:
# Reset index
renewable_df.set_index("country", inplace=True)

In [41]:
# Add suffix
renewable_df = renewable_df.add_suffix('_renewable')

In [42]:
# Concat
all_energy_emissions = pd.concat([renewable_df, energy_emissions], axis=1)
all_energy_emissions

,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,1974.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001610,0.004630,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
US,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.199897,0.204043,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
Total North America,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.201507,0.208673,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000475,0.000499,0.000644,0.000490,0.000501,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.016440,0.016430,0.014240,0.015770,0.016080,0.017767,0.017546,0.017856,0.018350,0.024963,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
Total World,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.322760,0.347499,0.368311,0.385606,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
of which: OECD,0.179852,0.198060,0.199866,0.221200,0.232580,0.251310,0.256369,0.276382,0.297001,0.314516,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,0.071090,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,0.078293,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

### Nonrenewable Energy Types in Percentage (Energy Type/Nonrenewable)

In [43]:
# # Reset index
# nonrenewable_df.set_index("country", inplace=True)

In [44]:
# Get the percentage 
# nonrenewable_df oil_cleaned gas_cleaned coal_cleaned nuclear_energy_cleaned hydroelec_cleaned
# oil_cleaned_div = oil_cleaned.divide(nonrenewable_df) * 100
# gas_cleaned_div = gas_cleaned.divide(nonrenewable_df) * 100
# coal_cleaned_div = coal_cleaned.divide(nonrenewable_df) * 100
# nuclear_energy_cleaned_div = nuclear_energy_cleaned.divide(nonrenewable_df) * 100
# hydroelec_cleaned = hydroelec_cleaned.divide(nonrenewable_df) * 100

In [45]:
# Get the sum of the nonrenewable energy
energy_type_sum = oil_cleaned + gas_cleaned + coal_cleaned + nuclear_energy_cleaned + hydroelec_cleaned
oil_percent = (oil_cleaned/energy_type_sum) * 100
gas_percent = (gas_cleaned/energy_type_sum) * 100
coal_percent = (coal_cleaned /energy_type_sum) * 100
nuclear_percent = (nuclear_energy_cleaned/energy_type_sum) * 100
hydroelec_percent = (hydroelec_cleaned/energy_type_sum) * 100

In [46]:
# Add suffix
oil_percent_suff = oil_percent.add_suffix('_oil')
gas_percent_suff = gas_percent.add_suffix('_gas')
coal_percent_suff = coal_percent.add_suffix('_coal')
nuclear_percent_suff = nuclear_percent.add_suffix('_nuclear')
hydroelec_percent_suff = hydroelec_percent.add_suffix('_hydroelec')

In [47]:
# Combine these dataframes
percent_combine1 = pd.concat([oil_percent_suff, gas_percent_suff], axis=1)
percent_combine2 = pd.concat([percent_combine1, coal_percent_suff], axis=1)
percent_combine3 = pd.concat([percent_combine2, nuclear_percent_suff], axis=1)
percent_combine_all = pd.concat([percent_combine3, hydroelec_percent_suff], axis=1) 
percent_combine_all

,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,1974.0_oil,...,2010.0_hydroelec,2011.0_hydroelec,2012.0_hydroelec,2013.0_hydroelec,2014.0_hydroelec,2015.0_hydroelec,2016.0_hydroelec,2017.0_hydroelec,2018.0_hydroelec,2019.0_hydroelec
country,,,,,,,,,,,,,,,,,,,,,
Canada,46.994226,46.537504,47.501471,47.485066,46.647029,46.452460,46.256805,45.281816,44.695477,44.094854,...,25.787379,26.247885,26.734064,26.569807,25.525819,25.676543,25.946783,26.078893,24.935642,24.871611
Mexico,61.167557,60.560947,63.665675,63.586718,61.208314,61.661683,62.156748,63.306676,62.862010,64.559041,...,4.828850,4.468997,3.891613,3.386351,4.710831,3.735559,3.649536,3.717050,3.816012,2.875444
US,45.299437,45.030571,45.193483,45.562242,45.604663,45.873302,46.483249,47.777093,48.446313,47.716433,...,2.676810,3.313511,2.942250,2.781047,2.632261,2.553446,2.738122,3.067197,2.875053,2.721459
Total North America,45.728629,45.439027,45.719753,46.056180,45.990659,46.232819,46.777218,47.874207,48.405996,47.767897,...,5.499425,6.179344,5.938102,5.774255,5.624082,5.511197,5.684909,6.003672,5.677256,5.491466
Argentina,83.050271,82.982307,82.574890,81.501714,81.869629,77.850823,78.261232,76.997796,74.062432,71.217172,...,11.942652,11.425882,10.307327,10.860024,10.917651,10.859070,9.910577,10.768035,10.831413,9.941329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,36.707704,38.810013,43.181976,45.820251,46.836853,47.833042,48.561942,49.371363,51.998062,50.582665,...,5.287874,5.088014,5.541433,5.882145,6.310692,6.371660,6.467814,6.471212,6.376447,6.443956
Total World,41.929781,42.832580,44.228701,45.253010,45.940991,46.968735,47.662424,48.694492,49.632960,48.656525,...,6.497856,6.439872,6.605074,6.753176,6.818744,6.737422,6.847730,6.809424,6.781209,6.782871
of which: OECD,44.456228,45.580192,47.043811,48.044930,49.011982,50.342697,51.360679,52.451825,53.331489,51.825157,...,5.641749,5.820701,5.901626,5.923343,5.871773,5.792082,5.838540,5.745684,5.784658,5.679023
Non-OECD,35.898903,36.364000,37.561480,38.514872,38.545283,39.047627,39.349238,40.325192,41.440401,42.051434,...,7.213099,6.923699,7.130306,7.361279,7.491757,7.400998,7.544450,7.532779,7.445314,7.489851
European Union #,40.480769,43.170952,45.510356,46.913262,48.679620,50.681206,51.769513,52.913134,53.605124,51.197492,...,4.992761,4.310347,4.692315,5.230871,5.509272,4.952392,4.999923,4.237051,4.940593,4.772527

### Combine Nonrenewable Energy Types with Renewable Energy and Emissions by Percentage

In [48]:
# Reset index
renewable_per_df.set_index("country", inplace=True)

In [49]:
# Combine these dataframes
all_per_combine1 = pd.concat([percent_combine_all, renewable_per_df], axis=1)
all_per_combine = pd.concat([all_per_combine1, energy_emissions], axis=1)
all_per_combine

,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,1974.0_oil,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
country,,,,,,,,,,,,,,,,,,,,,
Canada,46.994226,46.537504,47.501471,47.485066,46.647029,46.452460,46.256805,45.281816,44.695477,44.094854,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
Mexico,61.167557,60.560947,63.665675,63.586718,61.208314,61.661683,62.156748,63.306676,62.862010,64.559041,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
US,45.299437,45.030571,45.193483,45.562242,45.604663,45.873302,46.483249,47.777093,48.446313,47.716433,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
Total North America,45.728629,45.439027,45.719753,46.056180,45.990659,46.232819,46.777218,47.874207,48.405996,47.767897,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
Argentina,83.050271,82.982307,82.574890,81.501714,81.869629,77.850823,78.261232,76.997796,74.062432,71.217172,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,36.707704,38.810013,43.181976,45.820251,46.836853,47.833042,48.561942,49.371363,51.998062,50.582665,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
Total World,41.929781,42.832580,44.228701,45.253010,45.940991,46.968735,47.662424,48.694492,49.632960,48.656525,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
of which: OECD,44.456228,45.580192,47.043811,48.044930,49.011982,50.342697,51.360679,52.451825,53.331489,51.825157,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
Non-OECD,35.898903,36.364000,37.561480,38.514872,38.545283,39.047627,39.349238,40.325192,41.440401,42.051434,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
European Union #,40.480769,43.170952,45.510356,46.913262,48.679620,50.681206,51.769513,52.913134,53.605124,51.197492,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

# Export Cleaned DataFrames as CSV files

In [50]:
# Export dataframe as csv file
data_combine_all.to_csv("clean_data/nonrenew_energy_types.csv")
all_energy_emissions.to_csv("clean_data/renewable_nonrenewable_breakdown_emissions.csv")
percent_combine_all.to_csv("clean_data/nonrenew_energy_types_percent.csv")
all_per_combine.to_csv("clean_data/renewable_nonrenewable_breakdown_per_emissions.csv")