In [25]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Read csv
df = pd.read_csv("clean_data/renewable_nonrenewable_breakdown_per_emissions.csv")
df.head(5)

,country,1965.0_oil,1966.0_oil,1967.0_oil,1968.0_oil,1969.0_oil,1970.0_oil,1971.0_oil,1972.0_oil,1973.0_oil,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,46.994226,46.537504,47.501471,47.485066,46.647029,46.452460,46.256805,45.281816,44.695477,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,61.167557,60.560947,63.665675,63.586718,61.208314,61.661683,62.156748,63.306676,62.862010,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,45.299437,45.030571,45.193483,45.562242,45.604663,45.873302,46.483249,47.777093,48.446313,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,45.728629,45.439027,45.719753,46.056180,45.990659,46.232819,46.777218,47.874207,48.405996,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,83.050271,82.982307,82.574890,81.501714,81.869629,77.850823,78.261232,76.997796,74.062432,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [4]:
# Pull out data by year prefix
year1965 = df.filter(regex='^1965.0',axis=1)
year1965

,1965.0_oil,1965.0_gas,1965.0_coal,1965.0_nuclear,1965.0_hydroelec,1965.0_renewable_per,1965.0_oil.1,1965.0_gas.1,1965.0_coal.1,1965.0_nuclear.1,1965.0_hydroelec.1,1965.0_co2_emission
0,46.994226,15.841044,13.158153,0.025993,23.980584,0.000000,2.314145,0.780063,0.647949,0.001280,1.180880,260.332557
1,61.167557,27.643708,2.749814,0.000000,8.438921,0.000000,0.642414,0.290329,0.028880,0.000000,0.088630,62.134189
2,45.299437,28.629076,22.193449,0.073597,3.804441,0.254268,23.691820,14.973142,11.607279,0.038492,1.989741,3480.084706
3,45.728629,27.530712,21.079535,0.068248,5.592876,0.228259,26.648378,16.043534,12.284108,0.039772,3.259251,3802.551452
4,83.050271,13.164081,2.699300,0.000000,1.086347,0.000000,0.936501,0.148442,0.030438,0.000000,0.012250,77.341494
...,...,...,...,...,...,...,...,...,...,...,...,...
98,36.707704,1.088190,53.812167,0.001344,8.390595,0.088295,6.828704,0.202435,10.010633,0.000250,1.560896,1425.188935
99,41.929781,14.596186,37.371915,0.164267,5.937852,0.137567,65.191064,22.693676,58.104642,0.255397,9.231979,11207.741166
100,44.456228,15.495404,33.314759,0.216102,6.517507,0.163869,48.712518,16.978951,36.504352,0.236792,7.141501,7703.189788
101,35.898903,12.449664,47.056743,0.040533,4.554157,0.074726,16.478546,5.714725,21.600290,0.018606,2.090479,3504.551378
102,40.480769,3.215258,50.691228,0.467786,5.144959,0.069109,17.027869,1.352469,21.322806,0.196770,2.164180,3304.482212

In [19]:
# Read csv
emissions_df = pd.read_csv("clean_data/bp_all.csv")
emissions_df

,country,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
99,Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
100,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
101,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
102,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

In [20]:
emissions_df = emissions_df.dropna()
emissions_df.reset_index(drop=True)

,country,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
83,Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
84,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
85,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
86,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

In [21]:
list(emissions_df.columns)

['country',
 '1965.0_all_energy',
 '1966.0_all_energy',
 '1967.0_all_energy',
 '1968.0_all_energy',
 '1969.0_all_energy',
 '1970.0_all_energy',
 '1971.0_all_energy',
 '1972.0_all_energy',
 '1973.0_all_energy',
 '1974.0_all_energy',
 '1975.0_all_energy',
 '1976.0_all_energy',
 '1977.0_all_energy',
 '1978.0_all_energy',
 '1979.0_all_energy',
 '1980.0_all_energy',
 '1981.0_all_energy',
 '1982.0_all_energy',
 '1983.0_all_energy',
 '1984.0_all_energy',
 '1985.0_all_energy',
 '1986.0_all_energy',
 '1987.0_all_energy',
 '1988.0_all_energy',
 '1989.0_all_energy',
 '1990.0_all_energy',
 '1991.0_all_energy',
 '1992.0_all_energy',
 '1993.0_all_energy',
 '1994.0_all_energy',
 '1995.0_all_energy',
 '1996.0_all_energy',
 '1997.0_all_energy',
 '1998.0_all_energy',
 '1999.0_all_energy',
 '2000.0_all_energy',
 '2001.0_all_energy',
 '2002.0_all_energy',
 '2003.0_all_energy',
 '2004.0_all_energy',
 '2005.0_all_energy',
 '2006.0_all_energy',
 '2007.0_all_energy',
 '2008.0_all_energy',
 '2009.0_all_energy',
 '2010.0_all_energy',
 '2011.0_all_energy',
 '2012.0_all_energy',
 '2013.0_all_energy',
 '2014.0_all_energy',
 '2015.0_all_energy',
 '2016.0_all_energy',
 '2017.0_all_energy',
 '2018.0_all_energy',
 '2019.0_all_energy',
 '1965.0_renewable_per',
 '1966.0_renewable_per',
 '1967.0_renewable_per',
 '1968.0_renewable_per',
 '1969.0_renewable_per',
 '1970.0_renewable_per',
 '1971.0_renewable_per',
 '1972.0_renewable_per',
 '1973.0_renewable_per',
 '1974.0_renewable_per',
 '1975.0_renewable_per',
 '1976.0_renewable_per',
 '1977.0_renewable_per',
 '1978.0_renewable_per',
 '1979.0_renewable_per',
 '1980.0_renewable_per',
 '1981.0_renewable_per',
 '1982.0_renewable_per',
 '1983.0_renewable_per',
 '1984.0_renewable_per',
 '1985.0_renewable_per',
 '1986.0_renewable_per',
 '1987.0_renewable_per',
 '1988.0_renewable_per',
 '1989.0_renewable_per',
 '1990.0_renewable_per',
 '1991.0_renewable_per',
 '1992.0_renewable_per',
 '1993.0_renewable_per',
 '1994.0_renewable_per',
 '1995.0_renewable_per',
 '1996.0_renewable_per',
 '1997.0_renewable_per',
 '1998.0_renewable_per',
 '1999.0_renewable_per',
 '2000.0_renewable_per',
 '2001.0_renewable_per',
 '2002.0_renewable_per',
 '2003.0_renewable_per',
 '2004.0_renewable_per',
 '2005.0_renewable_per',
 '2006.0_renewable_per',
 '2007.0_renewable_per',
 '2008.0_renewable_per',
 '2009.0_renewable_per',
 '2010.0_renewable_per',
 '2011.0_renewable_per',
 '2012.0_renewable_per',
 '2013.0_renewable_per',
 '2014.0_renewable_per',
 '2015.0_renewable_per',
 '2016.0_renewable_per',
 '2017.0_renewable_per',
 '2018.0_renewable_per',
 '2019.0_renewable_per',
 '1965.0_nonrenewable_per',
 '1966.0_nonrenewable_per',
 '1967.0_nonrenewable_per',
 '1968.0_nonrenewable_per',
 '1969.0_nonrenewable_per',
 '1970.0_nonrenewable_per',
 '1971.0_nonrenewable_per',
 '1972.0_nonrenewable_per',
 '1973.0_nonrenewable_per',
 '1974.0_nonrenewable_per',
 '1975.0_nonrenewable_per',
 '1976.0_nonrenewable_per',
 '1977.0_nonrenewable_per',
 '1978.0_nonrenewable_per',
 '1979.0_nonrenewable_per',
 '1980.0_nonrenewable_per',
 '1981.0_nonrenewable_per',
 '1982.0_nonrenewable_per',
 '1983.0_nonrenewable_per',
 '1984.0_nonrenewable_per',
 '1985.0_nonrenewable_per',
 '1986.0_nonrenewable_per',
 '1987.0_nonrenewable_per',
 '1988.0_nonrenewable_per',
 '1989.0_nonrenewable_per',
 '1990.0_nonrenewable_per',
 '1991.0_nonrenewable_per',
 '1992.0_nonrenewable_per',
 '1993.0_nonrenewable_per',
 '1994.0_nonrenewable_per',
 '1995.0_nonrenewable_per',
 '1996.0_nonrenewable_per',
 '1997.0_nonrenewable_per',
 '1998.0_nonrenewable_per',
 '1999.0_nonrenewable_per',
 '2000.0_nonrenewable_per',
 '2001.0_nonrenewable_per',
 '2002.0_nonrenewable_per',
 '2003.0_nonrenewable_per',
 '2004.0_nonrenewable_per',
 '2005.0_nonrenewable_per',
 '2006.0_nonrenewable_per',
 '2007.0_nonrenewable_per',
 '2008.0_nonrenewable_per',
 '2009.0_nonrenewable_per',
 '2010.0_nonrenewable_per',
 '2011.0_nonrenewable_per',
 '2012.0_nonrenewable_per',
 '2013.0_nonrenewable_per',
 '2014.0_nonrenewable_per',
 '2015.0_nonrenewable_per',
 '2016.0_nonrenewable_per',
 '2017.0_nonrenewable_per',
 '2018.0_nonrenewable_per',
 '2019.0_nonrenewable_per',
 '1965.0_co2_emission',
 '1966.0_co2_emission',
 '1967.0_co2_emission',
 '1968.0_co2_emission',
 '1969.0_co2_emission',
 '1970.0_co2_emission',
 '1971.0_co2_emission',
 '1972.0_co2_emission',
 '1973.0_co2_emission',
 '1974.0_co2_emission',
 '1975.0_co2_emission',
 '1976.0_co2_emission',
 '1977.0_co2_emission',
 '1978.0_co2_emission',
 '1979.0_co2_emission',
 '1980.0_co2_emission',
 '1981.0_co2_emission',
 '1982.0_co2_emission',
 '1983.0_co2_emission',
 '1984.0_co2_emission',
 '1985.0_co2_emission',
 '1986.0_co2_emission',
 '1987.0_co2_emission',
 '1988.0_co2_emission',
 '1989.0_co2_emission',
 '1990.0_co2_emission',
 '1991.0_co2_emission',
 '1992.0_co2_emission',
 '1993.0_co2_emission',
 '1994.0_co2_emission',
 '1995.0_co2_emission',
 '1996.0_co2_emission',
 '1997.0_co2_emission',
 '1998.0_co2_emission',
 '1999.0_co2_emission',
 '2000.0_co2_emission',
 '2001.0_co2_emission',
 '2002.0_co2_emission',
 '2003.0_co2_emission',
 '2004.0_co2_emission',
 '2005.0_co2_emission',
 '2006.0_co2_emission',
 '2007.0_co2_emission',
 '2008.0_co2_emission',
 '2009.0_co2_emission',
 '2010.0_co2_emission',
 '2011.0_co2_emission',
 '2012.0_co2_emission',
 '2013.0_co2_emission',
 '2014.0_co2_emission',
 '2015.0_co2_emission',
 '2016.0_co2_emission',
 '2017.0_co2_emission',
 '2018.0_co2_emission',
 '2019.0_co2_emission']

In [22]:
# Pull out data by year prefix
emission_year1965 = emissions_df.filter(regex='^1965.0',axis=1)
emission_year1965

,1965.0_all_energy,1965.0_renewable_per,1965.0_nonrenewable_per,1965.0_co2_emission
0,4.924317,0.000000,100.000000,260.332557
1,1.050253,0.000000,100.000000,62.134189
2,52.433795,0.254268,99.745732,3480.084706
3,58.408365,0.228259,99.771741,3802.551452
4,1.127632,0.000000,100.000000,77.341494
...,...,...,...,...
98,18.619358,0.088295,99.911705,1425.188935
99,155.690938,0.137567,99.862433,11207.741166
100,109.753966,0.163869,99.836131,7703.189788
101,45.936972,0.074726,99.925274,3504.551378
102,42.093184,0.069109,99.930891,3304.482212

In [23]:
# Pull out all energy used
emission_year1965_all_energy = emission_year1965[["1965.0_all_energy", "1965.0_co2_emission"]]
emission_year1965_all_energy

     1965.0_all_energy  1965.0_co2_emission
0             4.924317           260.332557
1             1.050253            62.134189
2            52.433795          3480.084706
3            58.408365          3802.551452
4             1.127632            77.341494
..                 ...                  ...
98           18.619358          1425.188935
99          155.690938         11207.741166
100         109.753966          7703.189788
101          45.936972          3504.551378
102          42.093184          3304.482212

[87 rows x 2 columns]

In [24]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape to create this

X = emission_year1965_all_energy["1965.0_all_energy"].values.reshape(-1, 1)
y = emission_year1965_all_energy["1965.0_co2_emission"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)
X

Shape:  (87, 1) (87, 1)

array([[4.92431705e+00],
       [1.05025271e+00],
       [5.24337951e+01],
       [5.84083648e+01],
       [1.12763203e+00],
       [9.69469372e-01],
       [2.60339187e-01],
       [3.17744519e-01],
       [3.10042950e-02],
       [2.01675337e-01],
       [1.21052354e-01],
       [6.88461987e-01],
       [1.82447279e-01],
       [7.92123560e-01],
       [1.11893827e-01],
       [4.80384375e+00],
       [6.71817677e-01],
       [1.48641289e+00],
       [4.30442038e-01],
       [1.68489020e-02],
       [1.68616153e+00],
       [5.98333656e-01],
       [4.09418444e-01],
       [4.68432286e+00],
       [1.06789713e+01],
       [2.84409496e-01],
       [6.65863110e-01],
       [2.68855520e-02],
       [2.42979458e-01],
       [3.31350038e+00],
       [1.50438852e-01],
       [1.49025634e+00],
       [7.43618197e-01],
       [2.79317484e+00],
       [1.76512104e-01],
       [1.00274688e+00],
       [3.83176216e-01],
       [1.20196252e+00],
       [1.38467907e+00],
       [6.41339269e-01],
       [3.27605040e-01],
       [8.33217842e+00],
       [6.60904898e-01],
       [4.44849599e+01],
       [2.48478117e+01],
       [3.57083475e-01],
       [7.32798321e-02],
       [1.67297084e-01],
       [2.91914274e-01],
       [1.90509810e-02],
       [5.07989900e-03],
       [8.46502378e-01],
       [3.07631933e-03],
       [2.52073881e-01],
       [2.01535812e+00],
       [8.91394670e-02],
       [3.28912354e-01],
       [6.30554436e-02],
       [1.27519876e+00],
       [3.71769901e-01],
       [1.33312258e-01],
       [1.86363618e-01],
       [6.14169188e-02],
       [2.07259915e-03],
       [2.51124132e+00],
       [1.45928661e+00],
       [5.51604320e+00],
       [9.46872429e-02],
       [2.21765939e+00],
       [3.03080134e-01],
       [6.51574690e+00],
       [1.04123874e-01],
       [3.00030900e-01],
       [2.94590983e-01],
       [1.96228667e-01],
       [1.72396822e-01],
       [2.68883111e-01],
       [2.33937919e-02],
       [2.51619234e-01],
       [1.10000919e-01],
       [1.05818516e-01],
       [6.85767630e-01],
       [1.86193579e+01],
       [1.55690938e+02],
       [1.09753966e+02],
       [4.59369717e+01],
       [4.20931843e+01]])

In [ ]:
plt.scatter(X, y)