In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read csv
emissions_df = pd.read_csv("clean_data/bp_all.csv")
emissions_df

,country,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.064330,73.984875,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,58.408365,61.733704,63.924460,67.868147,71.589254,74.284923,75.943920,80.093438,83.655181,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212762,1.288378,1.311442,1.367910,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.619358,20.292629,21.252997,22.904978,26.029859,29.635096,32.456915,34.377961,37.134012,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
99,Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.883880,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
100,of which: OECD,109.753966,115.209593,119.757756,127.763797,136.313939,143.811047,147.698668,155.275737,163.937237,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
101,Non-OECD,45.936972,48.887620,50.516755,52.883078,56.543340,61.196032,65.658486,69.656898,73.946642,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
102,European Union #,42.093184,43.282622,44.509488,47.391263,50.927589,54.195380,55.464640,58.120014,61.375230,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

In [5]:
emissions_df_world = emissions_df.iloc[[99]]
emissions_df_world

,country,1965.0_all_energy,1966.0_all_energy,1967.0_all_energy,1968.0_all_energy,1969.0_all_energy,1970.0_all_energy,1971.0_all_energy,1972.0_all_energy,1973.0_all_energy,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
99,Total World,155.690938,164.097213,170.274511,180.646875,192.857279,205.007079,213.357154,224.932635,237.88388,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782

In [13]:
# Pull out data by year prefix
year1965 = emissions_df_world.filter(regex='_all_energy$',axis=1).head()
year1965T = year1965.T
year1965T = year1965T.reset_index(drop=False)

In [14]:
year1965T = year1965T.rename(columns={"index":"year", 99: "energy_consumption"})
year1965T

                 year  energy_consumption
0   1965.0_all_energy          155.690938
1   1966.0_all_energy          164.097213
2   1967.0_all_energy          170.274511
3   1968.0_all_energy          180.646875
4   1969.0_all_energy          192.857279
5   1970.0_all_energy          205.007079
6   1971.0_all_energy          213.357154
7   1972.0_all_energy          224.932635
8   1973.0_all_energy          237.883880
9   1974.0_all_energy          239.162833
10  1975.0_all_energy          240.458127
11  1976.0_all_energy          253.451176
12  1977.0_all_energy          262.746766
13  1978.0_all_energy          271.954056
14  1979.0_all_energy          281.445174
15  1980.0_all_energy          279.461959
16  1981.0_all_energy          278.155156
17  1982.0_all_energy          276.458050
18  1983.0_all_energy          280.938689
19  1984.0_all_energy          294.419488
20  1985.0_all_energy          302.227751
21  1986.0_all_energy          308.883170
22  1987.0_all_energy          319.663100
23  1988.0_all_energy          331.876052
24  1989.0_all_energy          338.311944
25  1990.0_all_energy          342.226339
26  1991.0_all_energy          344.628659
27  1992.0_all_energy          347.216707
28  1993.0_all_energy          349.632607
29  1994.0_all_energy          354.107481
30  1995.0_all_energy          361.515316
31  1996.0_all_energy          372.131198
32  1997.0_all_energy          375.667059
33  1998.0_all_energy          378.016542
34  1999.0_all_energy          384.850271
35  2000.0_all_energy          394.499845
36  2001.0_all_energy          398.452334
37  2002.0_all_energy          407.181976
38  2003.0_all_energy          421.737396
39  2004.0_all_energy          442.230196
40  2005.0_all_energy          457.076754
41  2006.0_all_energy          470.143289
42  2007.0_all_energy          484.669077
43  2008.0_all_energy          490.227923
44  2009.0_all_energy          482.815643
45  2010.0_all_energy          506.024137
46  2011.0_all_energy          518.310827
47  2012.0_all_energy          524.981692
48  2013.0_all_energy          534.907946
49  2014.0_all_energy          539.249792
50  2015.0_all_energy          543.174900
51  2016.0_all_energy          550.601336
52  2017.0_all_energy          560.421575
53  2018.0_all_energy          576.228810
54  2019.0_all_energy          583.898977