In [2]:
# Apply machine learning to temperature data
# Predict how temperatures will change in the future

# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
temperature_data = pd.read_csv("clean_data/annual_mean_by_country.csv")
temp_data = pd.DataFrame(temperature_data)
temp_data.head()

,Unnamed: 0,Year,Afghanistan,Africa,Albania,Algeria,American Samoa,Americas,Andorra,Angola,...,Wallis and Futuna Islands,Western Africa,Western Asia,Western Europe,Western Sahara,World,Yemen,Yugoslav SFR,Zambia,Zimbabwe
0,0,1965,0.010000,-0.194667,-0.348833,-0.031917,-0.388500,-0.167583,-0.269250,-0.139833,...,-0.344833,-0.331667,-0.026833,-0.528750,-0.281417,-0.148167,-0.554583,-0.444583,-0.345833,-0.244083
1,1,1966,0.241417,0.150250,0.422583,0.285750,0.115000,-0.139750,0.355833,0.206750,...,0.006667,0.111500,0.744000,0.378167,0.267917,0.159000,0.062000,0.556750,0.290833,0.165333
2,2,1967,-0.362667,-0.228167,-0.076083,-0.093000,-0.360083,-0.056000,0.357333,-0.114667,...,-0.230167,-0.281000,-0.734417,0.476250,-0.079917,-0.113500,-0.235083,0.171500,-0.081917,-0.121333
3,3,1968,-0.339417,-0.166583,0.056417,0.086750,-0.137583,-0.090250,0.198083,-0.160333,...,-0.095333,-0.063667,-0.198083,-0.011083,-0.141417,-0.108750,-0.151167,0.144667,-0.128417,0.089250
4,4,1969,-0.330667,0.348833,-0.043417,0.150083,0.086250,0.278250,-0.363667,0.207500,...,-0.233833,0.540917,0.345000,-0.216750,0.250917,-0.044500,0.183250,-0.288750,0.240583,0.101917

In [4]:
temp = temp_data.drop(columns="Unnamed: 0")
temp.head()

,Year,Afghanistan,Africa,Albania,Algeria,American Samoa,Americas,Andorra,Angola,Anguilla,...,Wallis and Futuna Islands,Western Africa,Western Asia,Western Europe,Western Sahara,World,Yemen,Yugoslav SFR,Zambia,Zimbabwe
0,1965,0.010000,-0.194667,-0.348833,-0.031917,-0.388500,-0.167583,-0.269250,-0.139833,-0.235833,...,-0.344833,-0.331667,-0.026833,-0.528750,-0.281417,-0.148167,-0.554583,-0.444583,-0.345833,-0.244083
1,1966,0.241417,0.150250,0.422583,0.285750,0.115000,-0.139750,0.355833,0.206750,-0.009333,...,0.006667,0.111500,0.744000,0.378167,0.267917,0.159000,0.062000,0.556750,0.290833,0.165333
2,1967,-0.362667,-0.228167,-0.076083,-0.093000,-0.360083,-0.056000,0.357333,-0.114667,-0.294750,...,-0.230167,-0.281000,-0.734417,0.476250,-0.079917,-0.113500,-0.235083,0.171500,-0.081917,-0.121333
3,1968,-0.339417,-0.166583,0.056417,0.086750,-0.137583,-0.090250,0.198083,-0.160333,-0.187500,...,-0.095333,-0.063667,-0.198083,-0.011083,-0.141417,-0.108750,-0.151167,0.144667,-0.128417,0.089250
4,1969,-0.330667,0.348833,-0.043417,0.150083,0.086250,0.278250,-0.363667,0.207500,0.270250,...,-0.233833,0.540917,0.345000,-0.216750,0.250917,-0.044500,0.183250,-0.288750,0.240583,0.101917

In [5]:
temp.dropna(axis=1,inplace=True)

In [6]:
temp.isnull().values.any()

False

## Loop through all countries

In [7]:
# # Get all country names
# countries = []
# for col in temp.columns:
#     print(col)
#     countries.append(col)

In [69]:
# column_list = list(temp.columns)[1:]
column_list2 = list(temp.columns)[2:50]

Create a list of the countries that are in the emissions benchmark

## Afghanistan Test - don't use multivariate regression, accuracy is low

In [93]:
# X = temp.Year.values.reshape(-1, 1)
# # y = temp.Afghanistan.values.reshape(-1, 1)

# y = temp[column_list2]


# print("Shape: ", X.shape, y.shape)
# X
# # column_list

In [91]:
# plt.scatter(X, y)

In [92]:
# from sklearn.linear_model import LinearRegression
# model = LinearRegression()
# model

In [89]:
# # Fit the model to the data
# # model.fit(X, y)

# # Split the data into training and testing
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [74]:
# from sklearn.preprocessing import StandardScaler

# # Create a StandardScaler model and fit it to the training data

# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

In [88]:
# from sklearn.linear_model import LinearRegression
# model = LinearRegression()
# model.fit(X_train_scaled, y_train_scaled)

In [87]:
# # Make predictions using the X_test_scaled data
# # Plot y_test_scaled vs y_test_scaled
# # Scatter plot y_test_scaled vs predictions
# plt.scatter(model.predict(X_train_scaled), model.predict(X_train_scaled) - y_train_scaled, c="blue", label="Training Data")
# plt.scatter(model.predict(X_test_scaled), model.predict(X_test_scaled) - y_test_scaled, c="orange", label="Testing Data")
# plt.legend()
# # plt.hlines(y=0, xmin=y_test_scaled.min(), xmax=y_test_scaled.max())
# plt.title("Residual Plot")
# plt.show()

In [86]:
# # Used X_test_scaled, y_test_scaled, and model.predict(X_test_scaled) to calculate MSE and R2
# models = []

# from sklearn.metrics import mean_squared_error

# lr_predictions = model.predict(X_test_scaled)
# MSE = mean_squared_error(y_test_scaled, lr_predictions)
# r2 = model.score(X_test_scaled, y_test_scaled)

# print(f"MSE: {MSE}, R2: {r2}")
# models.append({"model": "LinearRegression",
#             "MSE": MSE,
#             "R2":r2})

In [85]:
# # LASSO model
# # Note: Use an alpha of .01 when creating the model for this activity
# from sklearn.linear_model import Lasso

# lasso = Lasso(alpha=.01)
# lasso.fit(X_train_scaled, y_train_scaled)

# las_predictions = lasso.predict(X_test_scaled)

# MSE = mean_squared_error(y_test_scaled, las_predictions)
# r2 = lasso.score(X_test_scaled, y_test_scaled)

# print(f"MSE: {MSE}, R2: {r2}")
# models.append({"model": "Lasso",
#             "MSE": MSE,
#             "R2":r2})

In [84]:
# ElasticNet model
# Note: Use an alpha of .01 when creating the model for this activity
# from sklearn.linear_model import ElasticNet

# elasticnet = ElasticNet(alpha=.01)
# elasticnet.fit(X_train_scaled, y_train_scaled)

# ela_predictions = elasticnet.predict(X_test_scaled)

# MSE = mean_squared_error(y_test_scaled, ela_predictions)
# r2 = elasticnet.score(X_test_scaled, y_test_scaled)

# print(f"MSE: {MSE}, R2: {r2}")
# models.append({"model": "ElasticNet",
#             "MSE": MSE,
#             "R2":r2})

In [83]:
# a = pd.DataFrame(models)
# a

In [82]:
# Print the coefficient and the intercept for the model
# print('Weight coefficients: ', model.coef_)
# print('y-axis intercept: ', model.intercept_)

In [32]:
# Note: we have to transform our min and max values 
# so they are in the format: array([[ 1.17]])
# This is the required format for `model.predict()`

# x_min = np.array([[X.min()]])
# x_max = np.array([[X.max()]])
# print(f"Min X Value: {x_min}")
# print(f"Max X Value: {x_max}")

In [31]:
# Calculate the y_min and y_max using model.predict and x_min and x_max
# y_min = model.predict(x_min)
# y_max = model.predict(x_max)

In [25]:
# Plot X and y using plt.scatter
# Plot the model fit line using [x_min[0], x_max[0]], [y_min[0], y_max[0]]
# plt.scatter(X, y, c='blue')
# plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [81]:
# Predict anual temperature change in 2030
# y_2030 = model.predict([[2030]])
# y_2030

## World test

In [ ]:
X = temp.Year.values.reshape(-1, 1)
y = temp.World.values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)
X

In [ ]:
plt.scatter(X, y)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

In [ ]:
# Fit the model to the data
model.fit(X, y)

In [ ]:
# Print the coefficient and the intercept for the model
print('Weight coefficients: ', model.coef_)
print('y-axis intercept: ', model.intercept_)

In [ ]:
# Note: we have to transform our min and max values 
# so they are in the format: array([[ 1.17]])
# This is the required format for `model.predict()`

x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])
print(f"Min X Value: {x_min}")
print(f"Max X Value: {x_max}")

In [ ]:
# Calculate the y_min and y_max using model.predict and x_min and x_max
y_min = model.predict(x_min)
y_max = model.predict(x_max)

In [ ]:
# Plot X and y using plt.scatter
# Plot the model fit line using [x_min[0], x_max[0]], [y_min[0], y_max[0]]
plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
# Predict anual temperature change in 2030
y_2030 = model.predict([[2030]])
y_2030