In [1]:
# Apply machine learning to temperature data
# Predict how temperatures will change in the future

import pandas as pd

In [4]:
temperature_data = pd.read_csv("nasa_kaggle_temp_merged.csv")
temp_data = pd.DataFrame(temperature_data)
temp_data.head()

   Unnamed: 0  Year  No_Smoothing  Lowess(5)  mean_temp_change
0           0  1965         -0.11      -0.05         -0.211360
1           1  1966         -0.06      -0.06          0.093431
2           2  1967         -0.02      -0.05         -0.142026
3           3  1968         -0.08      -0.03         -0.154508
4           4  1969          0.05      -0.02          0.101002

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model