In [8]:
import pandas as pd
from functools import reduce

In [9]:
nonrenew = pd.read_csv('../clean_data/nonrenewable_energy.csv')
nonrenew

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,12.790267,13.354323,13.189590,13.590863,13.728664,13.555908,13.448364,13.617474,13.846043,13.690659
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.811085,...,7.222912,7.571642,7.603508,7.626757,7.563910,7.531233,7.614967,7.711194,7.616859,7.375450
2,US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,...,90.215943,88.997395,86.362665,88.339194,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249
3,Total North America,58.275043,61.593084,63.783724,67.712687,71.426984,74.122564,75.778076,79.906708,83.453675,...,110.229121,109.923361,107.155763,109.556815,110.307452,108.987321,108.273463,108.419909,111.561886,109.886358
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212287,1.287880,1.310799,1.367420,...,3.186537,3.236700,3.317457,3.454196,3.429151,3.503187,3.494517,3.472192,3.440353,3.323775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.602918,20.276199,21.238757,22.889208,26.013779,29.617329,32.439369,34.360105,37.115662,...,194.850335,204.953750,211.174881,217.107857,220.940343,223.779504,227.172042,232.533550,240.065790,246.745800
99,Total World,155.476758,163.864141,170.038973,180.389356,192.587734,204.708413,213.034394,224.585136,237.515569,...,496.324801,507.190181,512.377182,520.547704,523.222440,525.093831,530.544258,537.385046,550.402897,554.922514
100,of which: OECD,109.574113,115.011533,119.557890,127.542597,136.081359,143.559737,147.442299,154.999355,163.640237,...,225.915701,222.477271,219.029291,220.139552,217.369543,216.567934,216.682393,217.515120,220.116760,216.663061
101,Non-OECD,45.902645,48.852609,50.481083,52.846759,56.506375,61.148675,65.592095,69.585781,73.875332,...,270.409100,284.712910,293.347892,300.408152,305.852897,308.525897,313.861865,319.869926,330.286138,338.259454
102,European Union #,42.064094,43.242832,44.466328,47.343083,50.875159,54.125978,55.394062,58.050755,61.300808,...,70.775945,67.708374,66.428302,65.426367,62.328984,62.494851,63.085514,63.217839,62.837211,61.264978

In [10]:
nonrenew.at[102, "country"] = "EU"

In [11]:
nonrenew.at[99, "country"] = "Global"

In [12]:
nonrenew

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,12.790267,13.354323,13.189590,13.590863,13.728664,13.555908,13.448364,13.617474,13.846043,13.690659
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.811085,...,7.222912,7.571642,7.603508,7.626757,7.563910,7.531233,7.614967,7.711194,7.616859,7.375450
2,US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,...,90.215943,88.997395,86.362665,88.339194,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249
3,Total North America,58.275043,61.593084,63.783724,67.712687,71.426984,74.122564,75.778076,79.906708,83.453675,...,110.229121,109.923361,107.155763,109.556815,110.307452,108.987321,108.273463,108.419909,111.561886,109.886358
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212287,1.287880,1.310799,1.367420,...,3.186537,3.236700,3.317457,3.454196,3.429151,3.503187,3.494517,3.472192,3.440353,3.323775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.602918,20.276199,21.238757,22.889208,26.013779,29.617329,32.439369,34.360105,37.115662,...,194.850335,204.953750,211.174881,217.107857,220.940343,223.779504,227.172042,232.533550,240.065790,246.745800
99,Global,155.476758,163.864141,170.038973,180.389356,192.587734,204.708413,213.034394,224.585136,237.515569,...,496.324801,507.190181,512.377182,520.547704,523.222440,525.093831,530.544258,537.385046,550.402897,554.922514
100,of which: OECD,109.574113,115.011533,119.557890,127.542597,136.081359,143.559737,147.442299,154.999355,163.640237,...,225.915701,222.477271,219.029291,220.139552,217.369543,216.567934,216.682393,217.515120,220.116760,216.663061
101,Non-OECD,45.902645,48.852609,50.481083,52.846759,56.506375,61.148675,65.592095,69.585781,73.875332,...,270.409100,284.712910,293.347892,300.408152,305.852897,308.525897,313.861865,319.869926,330.286138,338.259454
102,EU,42.064094,43.242832,44.466328,47.343083,50.875159,54.125978,55.394062,58.050755,61.300808,...,70.775945,67.708374,66.428302,65.426367,62.328984,62.494851,63.085514,63.217839,62.837211,61.264978

In [13]:
nonrenewable_eu = pd.read_csv('predictions_data_files/nonrenewable_eu.csv', index_col=0)
nonrenewable_eu

   years         EU
0   2020  74.062467
1   2030  77.128673
2   2040  80.194879
3   2050  83.261085

In [14]:
nonrenewable_global = pd.read_csv('predictions_data_files/nonrenewable_global.csv', index_col=0)
nonrenewable_china = pd.read_csv('predictions_data_files/nonrenewable_china.csv', index_col=0)
nonrenewable_india = pd.read_csv('predictions_data_files/nonrenewable_india.csv', index_col=0)
nonrenewable_us = pd.read_csv('predictions_data_files/nonrenewable_us.csv', index_col=0)

In [15]:
data_frames = [nonrenewable_eu, nonrenewable_global, nonrenewable_china, nonrenewable_india, nonrenewable_us]
nonrenew_combined = reduce(lambda  left,right: pd.merge(left,right,on=['years'],
                                            how='outer'), data_frames)
nonrenew_combined

   years         EU      Global       China      India          US
0   2020  74.062467  554.165194  115.596329  26.804111   97.148381
1   2030  77.128673  625.071289  139.482061  32.144974  103.308046
2   2040  80.194879  695.977384  163.367793  37.485838  109.467711
3   2050  83.261085  766.883480  187.253524  42.826701  115.627377

In [16]:
nonrenew_combined_T = nonrenew_combined.T
nonrenew_combined_T

                  0            1            2            3
years   2020.000000  2030.000000  2040.000000  2050.000000
EU        74.062467    77.128673    80.194879    83.261085
Global   554.165194   625.071289   695.977384   766.883480
China    115.596329   139.482061   163.367793   187.253524
India     26.804111    32.144974    37.485838    42.826701
US        97.148381   103.308046   109.467711   115.627377

In [17]:
nonrenew_combined_T= nonrenew_combined_T.iloc[1:]
nonrenew_combined_T

                 0           1           2           3
EU       74.062467   77.128673   80.194879   83.261085
Global  554.165194  625.071289  695.977384  766.883480
China   115.596329  139.482061  163.367793  187.253524
India    26.804111   32.144974   37.485838   42.826701
US       97.148381  103.308046  109.467711  115.627377

In [18]:
nonrenew_combined_T.reset_index(level=0, inplace=True)

In [19]:
nonrenew_combined_T.columns = ['country','2020_nonrenewable_predictions', '2030_nonrenewable_predictions', '2040_nonrenewable_predictions', '2050_nonrenewable_predictions']
nonrenew_combined_T

,country,2020_nonrenewable_predictions,2030_nonrenewable_predictions,2040_nonrenewable_predictions,2050_nonrenewable_predictions
0,EU,74.062467,77.128673,80.194879,83.261085
1,Global,554.165194,625.071289,695.977384,766.883480
2,China,115.596329,139.482061,163.367793,187.253524
3,India,26.804111,32.144974,37.485838,42.826701
4,US,97.148381,103.308046,109.467711,115.627377

In [20]:
nonrenew

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,12.790267,13.354323,13.189590,13.590863,13.728664,13.555908,13.448364,13.617474,13.846043,13.690659
1,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.811085,...,7.222912,7.571642,7.603508,7.626757,7.563910,7.531233,7.614967,7.711194,7.616859,7.375450
2,US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,...,90.215943,88.997395,86.362665,88.339194,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249
3,Total North America,58.275043,61.593084,63.783724,67.712687,71.426984,74.122564,75.778076,79.906708,83.453675,...,110.229121,109.923361,107.155763,109.556815,110.307452,108.987321,108.273463,108.419909,111.561886,109.886358
4,Argentina,1.127632,1.165108,1.199725,1.241234,1.283912,1.212287,1.287880,1.310799,1.367420,...,3.186537,3.236700,3.317457,3.454196,3.429151,3.503187,3.494517,3.472192,3.440353,3.323775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,18.602918,20.276199,21.238757,22.889208,26.013779,29.617329,32.439369,34.360105,37.115662,...,194.850335,204.953750,211.174881,217.107857,220.940343,223.779504,227.172042,232.533550,240.065790,246.745800
99,Global,155.476758,163.864141,170.038973,180.389356,192.587734,204.708413,213.034394,224.585136,237.515569,...,496.324801,507.190181,512.377182,520.547704,523.222440,525.093831,530.544258,537.385046,550.402897,554.922514
100,of which: OECD,109.574113,115.011533,119.557890,127.542597,136.081359,143.559737,147.442299,154.999355,163.640237,...,225.915701,222.477271,219.029291,220.139552,217.369543,216.567934,216.682393,217.515120,220.116760,216.663061
101,Non-OECD,45.902645,48.852609,50.481083,52.846759,56.506375,61.148675,65.592095,69.585781,73.875332,...,270.409100,284.712910,293.347892,300.408152,305.852897,308.525897,313.861865,319.869926,330.286138,338.259454
102,EU,42.064094,43.242832,44.466328,47.343083,50.875159,54.125978,55.394062,58.050755,61.300808,...,70.775945,67.708374,66.428302,65.426367,62.328984,62.494851,63.085514,63.217839,62.837211,61.264978

In [21]:
nonrenewable__predictions= pd.merge(nonrenew, nonrenew_combined_T, on='country' )
nonrenewable__predictions

,country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020_nonrenewable_predictions,2030_nonrenewable_predictions,2040_nonrenewable_predictions,2050_nonrenewable_predictions
0,US,52.300473,55.242418,57.171040,60.643634,63.887342,66.053149,67.426099,70.877600,73.784978,...,89.014878,87.900180,87.210132,87.091241,90.098983,88.820249,97.148381,103.308046,109.467711,115.627377
1,China,5.516043,5.995001,5.391341,5.445350,6.627664,8.486606,10.061689,10.846553,11.449056,...,121.959528,122.753339,123.511069,126.216842,129.965591,135.071656,115.596329,139.482061,163.367793,187.253524
2,India,2.217659,2.285377,2.355911,2.517670,2.790898,2.729549,2.838043,2.987987,3.049283,...,27.281804,28.173504,29.337840,30.437703,32.198029,32.852009,26.804111,32.144974,37.485838,42.826701
3,Global,155.476758,163.864141,170.038973,180.389356,192.587734,204.708413,213.034394,224.585136,237.515569,...,523.222440,525.093831,530.544258,537.385046,550.402897,554.922514,554.165194,625.071289,695.977384,766.883480
4,EU,42.064094,43.242832,44.466328,47.343083,50.875159,54.125978,55.394062,58.050755,61.300808,...,62.328984,62.494851,63.085514,63.217839,62.837211,61.264978,74.062467,77.128673,80.194879,83.261085

In [22]:
nonrenewable__predictions.to_csv('nonrenewable__predictions.csv', encoding='utf-8')