In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('clean_data/renewable_nonrenewable_breakdown_emissions.csv')
data.head()

,Unnamed: 0,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.001610,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.199897,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.201507,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,0.000000,0.00000,0.000000,0.00000,0.000000,0.000475,0.000499,0.000644,0.000490,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271

In [9]:
list(data.columns)

['Unnamed: 0',
 '1965.0_renewable',
 '1966.0_renewable',
 '1967.0_renewable',
 '1968.0_renewable',
 '1969.0_renewable',
 '1970.0_renewable',
 '1971.0_renewable',
 '1972.0_renewable',
 '1973.0_renewable',
 '1974.0_renewable',
 '1975.0_renewable',
 '1976.0_renewable',
 '1977.0_renewable',
 '1978.0_renewable',
 '1979.0_renewable',
 '1980.0_renewable',
 '1981.0_renewable',
 '1982.0_renewable',
 '1983.0_renewable',
 '1984.0_renewable',
 '1985.0_renewable',
 '1986.0_renewable',
 '1987.0_renewable',
 '1988.0_renewable',
 '1989.0_renewable',
 '1990.0_renewable',
 '1991.0_renewable',
 '1992.0_renewable',
 '1993.0_renewable',
 '1994.0_renewable',
 '1995.0_renewable',
 '1996.0_renewable',
 '1997.0_renewable',
 '1998.0_renewable',
 '1999.0_renewable',
 '2000.0_renewable',
 '2001.0_renewable',
 '2002.0_renewable',
 '2003.0_renewable',
 '2004.0_renewable',
 '2005.0_renewable',
 '2006.0_renewable',
 '2007.0_renewable',
 '2008.0_renewable',
 '2009.0_renewable',
 '2010.0_renewable',
 '2011.0_renewable',
 '2012.0_renewable',
 '2013.0_renewable',
 '2014.0_renewable',
 '2015.0_renewable',
 '2016.0_renewable',
 '2017.0_renewable',
 '2018.0_renewable',
 '2019.0_renewable',
 '1965.0_oil',
 '1966.0_oil',
 '1967.0_oil',
 '1968.0_oil',
 '1969.0_oil',
 '1970.0_oil',
 '1971.0_oil',
 '1972.0_oil',
 '1973.0_oil',
 '1974.0_oil',
 '1975.0_oil',
 '1976.0_oil',
 '1977.0_oil',
 '1978.0_oil',
 '1979.0_oil',
 '1980.0_oil',
 '1981.0_oil',
 '1982.0_oil',
 '1983.0_oil',
 '1984.0_oil',
 '1985.0_oil',
 '1986.0_oil',
 '1987.0_oil',
 '1988.0_oil',
 '1989.0_oil',
 '1990.0_oil',
 '1991.0_oil',
 '1992.0_oil',
 '1993.0_oil',
 '1994.0_oil',
 '1995.0_oil',
 '1996.0_oil',
 '1997.0_oil',
 '1998.0_oil',
 '1999.0_oil',
 '2000.0_oil',
 '2001.0_oil',
 '2002.0_oil',
 '2003.0_oil',
 '2004.0_oil',
 '2005.0_oil',
 '2006.0_oil',
 '2007.0_oil',
 '2008.0_oil',
 '2009.0_oil',
 '2010.0_oil',
 '2011.0_oil',
 '2012.0_oil',
 '2013.0_oil',
 '2014.0_oil',
 '2015.0_oil',
 '2016.0_oil',
 '2017.0_oil',
 '2018.0_oil',
 '2019.0_oil',
 '1965.0_gas',
 '1966.0_gas',
 '1967.0_gas',
 '1968.0_gas',
 '1969.0_gas',
 '1970.0_gas',
 '1971.0_gas',
 '1972.0_gas',
 '1973.0_gas',
 '1974.0_gas',
 '1975.0_gas',
 '1976.0_gas',
 '1977.0_gas',
 '1978.0_gas',
 '1979.0_gas',
 '1980.0_gas',
 '1981.0_gas',
 '1982.0_gas',
 '1983.0_gas',
 '1984.0_gas',
 '1985.0_gas',
 '1986.0_gas',
 '1987.0_gas',
 '1988.0_gas',
 '1989.0_gas',
 '1990.0_gas',
 '1991.0_gas',
 '1992.0_gas',
 '1993.0_gas',
 '1994.0_gas',
 '1995.0_gas',
 '1996.0_gas',
 '1997.0_gas',
 '1998.0_gas',
 '1999.0_gas',
 '2000.0_gas',
 '2001.0_gas',
 '2002.0_gas',
 '2003.0_gas',
 '2004.0_gas',
 '2005.0_gas',
 '2006.0_gas',
 '2007.0_gas',
 '2008.0_gas',
 '2009.0_gas',
 '2010.0_gas',
 '2011.0_gas',
 '2012.0_gas',
 '2013.0_gas',
 '2014.0_gas',
 '2015.0_gas',
 '2016.0_gas',
 '2017.0_gas',
 '2018.0_gas',
 '2019.0_gas',
 '1965.0_coal',
 '1966.0_coal',
 '1967.0_coal',
 '1968.0_coal',
 '1969.0_coal',
 '1970.0_coal',
 '1971.0_coal',
 '1972.0_coal',
 '1973.0_coal',
 '1974.0_coal',
 '1975.0_coal',
 '1976.0_coal',
 '1977.0_coal',
 '1978.0_coal',
 '1979.0_coal',
 '1980.0_coal',
 '1981.0_coal',
 '1982.0_coal',
 '1983.0_coal',
 '1984.0_coal',
 '1985.0_coal',
 '1986.0_coal',
 '1987.0_coal',
 '1988.0_coal',
 '1989.0_coal',
 '1990.0_coal',
 '1991.0_coal',
 '1992.0_coal',
 '1993.0_coal',
 '1994.0_coal',
 '1995.0_coal',
 '1996.0_coal',
 '1997.0_coal',
 '1998.0_coal',
 '1999.0_coal',
 '2000.0_coal',
 '2001.0_coal',
 '2002.0_coal',
 '2003.0_coal',
 '2004.0_coal',
 '2005.0_coal',
 '2006.0_coal',
 '2007.0_coal',
 '2008.0_coal',
 '2009.0_coal',
 '2010.0_coal',
 '2011.0_coal',
 '2012.0_coal',
 '2013.0_coal',
 '2014.0_coal',
 '2015.0_coal',
 '2016.0_coal',
 '2017.0_coal',
 '2018.0_coal',
 '2019.0_coal',
 '1965.0_nuclear',
 '1966.0_nuclear',
 '1967.0_nuclear',
 '1968.0_nuclear',
 '1969.0_nuclear',
 '1970.0_nuclear',
 '1971.0_nuclear',
 '1972.0_nuclear',
 '1973.0_nuclear',
 '1974.0_nuclear',
 '1975.0_nuclear',
 '1976.0_nuclear',
 '1977.0_nuclear',
 '1978.0_nuclear',
 '1979.0_nuclear',
 '1980.0_nuclear',
 '1981.0_nuclear',
 '1982.0_nuclear',
 '1983.0_nuclear',
 '1984.0_nuclear',
 '1985.0_nuclear',
 '1986.0_nuclear',
 '1987.0_nuclear',
 '1988.0_nuclear',
 '1989.0_nuclear',
 '1990.0_nuclear',
 '1991.0_nuclear',
 '1992.0_nuclear',
 '1993.0_nuclear',
 '1994.0_nuclear',
 '1995.0_nuclear',
 '1996.0_nuclear',
 '1997.0_nuclear',
 '1998.0_nuclear',
 '1999.0_nuclear',
 '2000.0_nuclear',
 '2001.0_nuclear',
 '2002.0_nuclear',
 '2003.0_nuclear',
 '2004.0_nuclear',
 '2005.0_nuclear',
 '2006.0_nuclear',
 '2007.0_nuclear',
 '2008.0_nuclear',
 '2009.0_nuclear',
 '2010.0_nuclear',
 '2011.0_nuclear',
 '2012.0_nuclear',
 '2013.0_nuclear',
 '2014.0_nuclear',
 '2015.0_nuclear',
 '2016.0_nuclear',
 '2017.0_nuclear',
 '2018.0_nuclear',
 '2019.0_nuclear',
 '1965.0_hydroelec',
 '1966.0_hydroelec',
 '1967.0_hydroelec',
 '1968.0_hydroelec',
 '1969.0_hydroelec',
 '1970.0_hydroelec',
 '1971.0_hydroelec',
 '1972.0_hydroelec',
 '1973.0_hydroelec',
 '1974.0_hydroelec',
 '1975.0_hydroelec',
 '1976.0_hydroelec',
 '1977.0_hydroelec',
 '1978.0_hydroelec',
 '1979.0_hydroelec',
 '1980.0_hydroelec',
 '1981.0_hydroelec',
 '1982.0_hydroelec',
 '1983.0_hydroelec',
 '1984.0_hydroelec',
 '1985.0_hydroelec',
 '1986.0_hydroelec',
 '1987.0_hydroelec',
 '1988.0_hydroelec',
 '1989.0_hydroelec',
 '1990.0_hydroelec',
 '1991.0_hydroelec',
 '1992.0_hydroelec',
 '1993.0_hydroelec',
 '1994.0_hydroelec',
 '1995.0_hydroelec',
 '1996.0_hydroelec',
 '1997.0_hydroelec',
 '1998.0_hydroelec',
 '1999.0_hydroelec',
 '2000.0_hydroelec',
 '2001.0_hydroelec',
 '2002.0_hydroelec',
 '2003.0_hydroelec',
 '2004.0_hydroelec',
 '2005.0_hydroelec',
 '2006.0_hydroelec',
 '2007.0_hydroelec',
 '2008.0_hydroelec',
 '2009.0_hydroelec',
 '2010.0_hydroelec',
 '2011.0_hydroelec',
 '2012.0_hydroelec',
 '2013.0_hydroelec',
 '2014.0_hydroelec',
 '2015.0_hydroelec',
 '2016.0_hydroelec',
 '2017.0_hydroelec',
 '2018.0_hydroelec',
 '2019.0_hydroelec',
 '1965.0_co2_emission',
 '1966.0_co2_emission',
 '1967.0_co2_emission',
 '1968.0_co2_emission',
 '1969.0_co2_emission',
 '1970.0_co2_emission',
 '1971.0_co2_emission',
 '1972.0_co2_emission',
 '1973.0_co2_emission',
 '1974.0_co2_emission',
 '1975.0_co2_emission',
 '1976.0_co2_emission',
 '1977.0_co2_emission',
 '1978.0_co2_emission',
 '1979.0_co2_emission',
 '1980.0_co2_emission',
 '1981.0_co2_emission',
 '1982.0_co2_emission',
 '1983.0_co2_emission',
 '1984.0_co2_emission',
 '1985.0_co2_emission',
 '1986.0_co2_emission',
 '1987.0_co2_emission',
 '1988.0_co2_emission',
 '1989.0_co2_emission',
 '1990.0_co2_emission',
 '1991.0_co2_emission',
 '1992.0_co2_emission',
 '1993.0_co2_emission',
 '1994.0_co2_emission',
 '1995.0_co2_emission',
 '1996.0_co2_emission',
 '1997.0_co2_emission',
 '1998.0_co2_emission',
 '1999.0_co2_emission',
 '2000.0_co2_emission',
 '2001.0_co2_emission',
 '2002.0_co2_emission',
 '2003.0_co2_emission',
 '2004.0_co2_emission',
 '2005.0_co2_emission',
 '2006.0_co2_emission',
 '2007.0_co2_emission',
 '2008.0_co2_emission',
 '2009.0_co2_emission',
 '2010.0_co2_emission',
 '2011.0_co2_emission',
 '2012.0_co2_emission',
 '2013.0_co2_emission',
 '2014.0_co2_emission',
 '2015.0_co2_emission',
 '2016.0_co2_emission',
 '2017.0_co2_emission',
 '2018.0_co2_emission',
 '2019.0_co2_emission']

In [12]:
data.rename(columns={ data.columns[0]: "country" }, inplace = True)
data

,country,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001610,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.199897,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
3,Total North America,0.133322,0.140620,0.140736,0.155460,0.162271,0.162359,0.165844,0.186730,0.201507,...,6458.421920,6343.303583,6090.259796,6266.531101,6267.654360,6150.761455,6049.000260,6009.923146,6148.997022,5975.854558
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000475,0.000499,0.000644,0.000490,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Total Asia Pacific,0.016440,0.016430,0.014240,0.015770,0.016080,0.017767,0.017546,0.017856,0.018350,...,13993.499104,14876.638218,15310.550151,15666.928513,15802.624228,15894.144329,16022.093130,16357.090978,16863.320748,17269.460575
99,Total World,0.214179,0.233071,0.235538,0.257519,0.269545,0.298667,0.322760,0.347499,0.368311,...,31085.534841,31973.369818,32273.531532,32795.554106,32804.718691,32787.197673,32936.066036,33279.491334,34007.891035,34169.000782
100,of which: OECD,0.179852,0.198060,0.199866,0.221200,0.232580,0.251310,0.256369,0.276382,0.297001,...,12957.487453,12783.102257,12580.336724,12661.943982,12441.450859,12347.757144,12270.063080,12300.248087,12372.332978,12011.955351
101,Non-OECD,0.034327,0.035011,0.035672,0.036319,0.036966,0.047357,0.066391,0.071118,0.071310,...,18128.047389,19190.267562,19693.194807,20133.610124,20363.267833,20439.440529,20666.002956,20979.243247,21635.558057,22157.045431
102,European Union #,0.029090,0.039790,0.043160,0.048180,0.052430,0.069403,0.070579,0.069259,0.074422,...,3922.934995,3800.361504,3737.698716,3653.468215,3445.591925,3486.935193,3498.502547,3527.146451,3466.482504,3330.444758

In [13]:
data.at[102, "country"] = "EU"

In [14]:
country_drop = ['Total North America', 'Other Caribbean', 'Other South America', 'Total S. & Cent. America','Other Europe',
                 'Total Europe','Other CIS', 'Total CIS','Other Middle East', 'Total Middle East','Other Northern Africa',
                'Other Southern Africa', 'Total Africa','China Hong Kong SAR','Other Asia Pacific', 'Total Asia Pacific',
                 'Total World', 'of which: OECD' 'EU', 'Non-OECD','Russian Federation']

In [15]:
def getIndexes(data, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = data.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [16]:
# Use dict comprhension to club index positions of multiple elements in dataframe
dictOfPos = {elem: getIndexes(data, elem) for elem in country_drop}
print('Position of given elements in Dataframe are : ')
for key, value in dictOfPos.items():
    print(key, ' : ', value)

Position of given elements in Dataframe are :
Total North America  :  [(3, 'country')]
Other Caribbean  :  [(13, 'country')]
Other South America  :  [(14, 'country')]
Total S. & Cent. America  :  [(15, 'country')]
Other Europe  :  [(50, 'country')]
Total Europe  :  [(51, 'country')]
Other CIS  :  [(58, 'country')]
Total CIS  :  [(59, 'country')]
Other Middle East  :  [(68, 'country')]
Total Middle East  :  [(69, 'country')]
Other Northern Africa  :  [(77, 'country')]
Other Southern Africa  :  [(78, 'country')]
Total Africa  :  [(79, 'country')]
China Hong Kong SAR  :  [(83, 'country')]
Other Asia Pacific  :  [(97, 'country')]
Total Asia Pacific  :  [(98, 'country')]
Total World  :  [(99, 'country')]
of which: OECDEU  :  []
Non-OECD  :  []
Russian Federation  :  [(54, 'country')]

In [17]:
# 3, 13, 14, 15, 50, 51, 58, 59, 68, 69, 77, 78, 79, 83, 97, 98, 99, 100, 101, 54, 102

In [18]:
data = data.drop([3, 13, 14, 15, 50, 51, 58, 59, 68, 69, 77, 78, 79, 83, 97, 98, 99, 100, 101, 54, 102]) 
data

,country,1965.0_renewable,1966.0_renewable,1967.0_renewable,1968.0_renewable,1969.0_renewable,1970.0_renewable,1971.0_renewable,1972.0_renewable,1973.0_renewable,...,2010.0_co2_emission,2011.0_co2_emission,2012.0_co2_emission,2013.0_co2_emission,2014.0_co2_emission,2015.0_co2_emission,2016.0_co2_emission,2017.0_co2_emission,2018.0_co2_emission,2019.0_co2_emission
0,Canada,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,530.094931,541.020754,526.312965,544.096067,553.458312,546.233373,537.777358,549.107572,565.635679,556.188552
1,Mexico,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.001610,...,442.611064,465.846905,473.972290,472.839136,459.630951,463.121335,468.791476,476.945856,466.575628,454.972919
2,US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.186730,0.199897,...,5485.715925,5336.435925,5089.974540,5249.595898,5254.565096,5141.406746,5042.431426,4983.869718,5116.785715,4964.693088
4,Argentina,0.000000,0.00000,0.000000,0.00000,0.000000,0.000475,0.000499,0.000644,0.000490,...,166.000124,168.746975,175.268259,182.764622,182.745499,186.021818,185.762130,182.807827,180.394930,174.877271
5,Brazil,0.000000,0.00000,0.000000,0.00000,0.000000,0.009260,0.012012,0.015906,0.014416,...,398.324213,423.761618,442.858031,482.871255,503.779772,487.040178,450.367978,457.229289,442.250684,441.299916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,South Korea,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,590.909569,617.680146,614.572566,619.483942,614.907672,624.171510,629.555781,645.194894,662.190738,638.610692
93,Sri Lanka,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,13.147079,14.823531,16.115522,13.954323,14.229941,17.872870,20.248584,21.670233,21.566269,23.414519
94,Taiwan,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,264.237291,270.012803,266.201490,269.179720,275.178241,271.661149,280.275787,288.353172,287.000584,278.616755
95,Thailand,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,248.707514,253.540475,270.630710,273.874032,280.705185,291.444027,298.211563,299.042634,306.067996,301.677662
96,Vietnam,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,121.899736,134.970332,132.735330,140.833186,157.376147,183.423951,195.466709,196.116117,237.006458,285.861852

In [21]:

df1 = data[['2000.0_renewable']]
df2 = data[['2000.0_oil']]
df3 = data[['2000.0_gas']]
df4 = data[['2000.0_nuclear']]
df5 = data[['2000.0_hydroelec']]
df6 = data[['2000.0_coal']]
df7 = data[['2000.0_co2_emission']]

In [22]:

merge2 = pd.concat([df1, df2], axis=1)
merge3 = pd.concat([merge2, df3], axis=1)
merge4 = pd.concat([merge3, df4], axis=1)
merge5 = pd.concat([merge4, df5], axis=1)
merge6 = pd.concat([merge5, df6], axis=1)
merge7 = pd.concat([merge6, df7], axis=1)

merge7

,2000.0_renewable,2000.0_oil,2000.0_gas,2000.0_nuclear,2000.0_hydroelec,2000.0_coal,2000.0_co2_emission
0,0.091975,3.933278,3.211946,0.722937,3.567601,1.280648,527.608562
1,0.063846,3.817485,1.292879,0.082210,0.330749,0.274273,353.845999
2,0.868178,38.353691,22.622064,7.935715,2.727614,22.631530,5740.774377
4,0.007098,0.871116,1.162682,0.061770,0.340340,0.027046,124.776396
5,0.322243,3.721664,0.349362,0.060460,3.044030,0.544253,301.711950
...,...,...,...,...,...,...,...
92,0.001010,4.520645,0.713079,1.089637,0.040096,1.797167,440.653852
93,0.000038,0.146730,0.000000,0.000000,0.032042,0.000014,10.567441
94,0.010596,1.900792,0.243626,0.385028,0.045600,1.151186,235.738772
95,0.005269,1.516132,0.763033,0.000000,0.058914,0.330105,169.725672
96,0.000000,0.357324,0.055584,0.000000,0.145510,0.196330,46.968312

In [23]:
rename_cols = merge7.rename(columns = lambda x: x.strip('2000.0_'))

In [24]:
rename_cols

,renewable,oil,gas,nuclear,hydroelec,coal,co2_emission
0,0.091975,3.933278,3.211946,0.722937,3.567601,1.280648,527.608562
1,0.063846,3.817485,1.292879,0.082210,0.330749,0.274273,353.845999
2,0.868178,38.353691,22.622064,7.935715,2.727614,22.631530,5740.774377
4,0.007098,0.871116,1.162682,0.061770,0.340340,0.027046,124.776396
5,0.322243,3.721664,0.349362,0.060460,3.044030,0.544253,301.711950
...,...,...,...,...,...,...,...
92,0.001010,4.520645,0.713079,1.089637,0.040096,1.797167,440.653852
93,0.000038,0.146730,0.000000,0.000000,0.032042,0.000014,10.567441
94,0.010596,1.900792,0.243626,0.385028,0.045600,1.151186,235.738772
95,0.005269,1.516132,0.763033,0.000000,0.058914,0.330105,169.725672
96,0.000000,0.357324,0.055584,0.000000,0.145510,0.196330,46.968312

In [25]:
df = data[['country']]

In [28]:
merge_2000 = pd.concat([df, rename_cols], axis=1)

In [29]:
merge_2000

,country,renewable,oil,gas,nuclear,hydroelec,coal,co2_emission
0,Canada,0.091975,3.933278,3.211946,0.722937,3.567601,1.280648,527.608562
1,Mexico,0.063846,3.817485,1.292879,0.082210,0.330749,0.274273,353.845999
2,US,0.868178,38.353691,22.622064,7.935715,2.727614,22.631530,5740.774377
4,Argentina,0.007098,0.871116,1.162682,0.061770,0.340340,0.027046,124.776396
5,Brazil,0.322243,3.721664,0.349362,0.060460,3.044030,0.544253,301.711950
...,...,...,...,...,...,...,...,...
92,South Korea,0.001010,4.520645,0.713079,1.089637,0.040096,1.797167,440.653852
93,Sri Lanka,0.000038,0.146730,0.000000,0.000000,0.032042,0.000014,10.567441
94,Taiwan,0.010596,1.900792,0.243626,0.385028,0.045600,1.151186,235.738772
95,Thailand,0.005269,1.516132,0.763033,0.000000,0.058914,0.330105,169.725672
96,Vietnam,0.000000,0.357324,0.055584,0.000000,0.145510,0.196330,46.968312

In [ ]:
# df[percent] = (df['column_name'] / df['column_name'].sum()) * 100

In [ ]:
# renewable = ((data.filter(regex='_renewable$',axis=1)).columns)

# hydroelectric = ((data.filter(regex='_hydroelec$',axis=1)).columns)

# emission = ((data.filter(regex='_co2_emission$',axis=1)).columns)

# oil = ((data.filter(regex='_oil$',axis=1)).columns)

# gas = ((data.filter(regex='_gas$',axis=1)).columns)

# nuclear = ((data.filter(regex='_nuclear$',axis=1)).columns)

# coal = ((data.filter(regex='_coal$',axis=1)).columns)

# columns_list = [renewable, hydroelectric, emission, oil, gas, nuclear, coal]

# renewable

In [ ]:
# renewable_list = [hydroelectric, emission, oil, gas, nuclear, coal]
# for x in renewable_list:
#     renewable_df = data.drop(x, axis=1)
#     data = renewable_df
# renewable_df

In [ ]:
# list(renewable_df['country'])

In [ ]:
# 1760, 1840, 2000, 2011, 2018, 2020, 2030

In [ ]:
# renewable_2000 = renewable_df[['country', '2000.0_renewable']]
# renewable_2000

In [ ]:
# hydro_list = [renewable, emission, oil, gas, nuclear, coal]

# for x in hydro_list:
#     hydro_df = data.drop(x, axis=1)
#     data = hydro_df
    
# hydro_2000 = renewable_df[['country', '2000.0_hydroelec']]
# hydro_2000